{% load mesos %}

<div id="marathon-list" class="panel-group accordion-style1 accordion-style2">
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="#marathon-config" data-parent="#marathon-list" data-toggle="collapse" class="accordion-toggle collapsed">
				<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>
				<i class="fa fa-cog bigger-130" aria-hidden="true"></i>
				&nbsp; 配置信息
			</a>
		</div>

		<div class="panel-collapse collapse" id="marathon-config">
			<div class="panel-body">
				<div class="profile-user-info profile-user-info-striped">
					<div class="profile-info-row">
						<div class="profile-info-name">ID</div>
						<div class="profile-info-value">
							<span>{{ clusterObj.marathonID }}</span>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">VERSION</div>
						<div class="profile-info-value">
							<span>1.7.50</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">IMAGE</div>
						<div class="profile-info-value">
							<span>{{ clusterObj.marathonImage}}</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name">HOST</div>
						<div class="profile-info-value">
							<span>{{clusterObj.marathonDeploy}}</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">PORT</div>
						<div class="profile-info-value">
							<span>{{clusterObj.marathonPort}}</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name">MARATHON_MASTER</div>
						<div class="profile-info-value">
							<span>{{clusterObj.marathonZK}}</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">MARATHON_ZK</div>
						<div class="profile-info-value">
							<span>{{clusterObj.marathonZK}} <strong class="red">(marathon节点名应该是:{{clusterObj.marathonID}})</strong></span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">Documentation</div>
						<div class="profile-info-value">
							<span><a href="https://mesosphere.github.io/marathon/docs/" target="view_window">Readme</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="#marathon-nodes" data-parent="#marathon-list" data-toggle="collapse" class="accordion-toggle collapsed">
				<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>
				<i class="ace-icon fa fa-desktop bigger-120"></i>
				&nbsp;节点列表
			</a>
		</div>

		<div class="panel-collapse collapse" id="marathon-nodes">
			<div class="panel-body">
				<table class="table table-bordered">
					<tr>
						<th>所在主机</th>
						<th>容器名称</th>
						<th>容器状态</th>
						<th>服务状态</th>
						<th>操作</th>
					</tr>
					{% for node in marathonNodes %}
					<tr>
						<td>{{ node.host }}</td>
						<td>{{ node.containerName }}</td>
						{% node_status node %}
						<td>
							{% detail_button %}
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>