{% load mesos %}

<div id="master-list" class="panel-group accordion-style1 accordion-style2">
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="#master-config" data-parent="#master-list" data-toggle="collapse" class="accordion-toggle collapsed">
				<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>
				<i class="fa fa-cog bigger-130" aria-hidden="true"></i>
				&nbsp; 配置信息
			</a>
		</div>

		<div class="panel-collapse collapse" id="master-config">
			<div class="panel-body">
				<div class="profile-user-info profile-user-info-striped">
					<div class="profile-info-row">
						<div class="profile-info-name">ID</div>
						<div class="profile-info-value">
							<span>{{masterObj.clusterName}}</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">VERSION</div>
						<div class="profile-info-value">
							<span>1.6.1-rc2</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name">IMAGE</div>
						<div class="profile-info-value">
							<span>{{masterObj.masterImage}}</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name">PORT</div>
						<div class="profile-info-value">
							<span>{{masterObj.masterPort}}</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name">MESOS_ZK</div>
						<div class="profile-info-value">
							<span>{{masterObj.marathonZK}}</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name">MESOS_CLUSTER</div>
						<div class="profile-info-value">
							<span>{{ masterObj.clusterName}}</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name">MESOS_HOSTNAME_LOOKUP</div>
						<div class="profile-info-value">
							<span>false</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name">MESOS_LOG_DIR</div>
						<div class="profile-info-value">
							<span>/data/mesos-master/log : /var/log/mesos</span>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">MESOS_WORK_DIR</div>
						<div class="profile-info-value">
							<span>/data/mesos-master/workdir : /var/tmp/mesos</span>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">Documentation</div>
						<div class="profile-info-value">
							<span><a href="https://github.com/mesosphere/docker-containers/tree/master/mesos" target="view_window">Readme</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="#master-nodes" data-parent="#master-list" data-toggle="collapse" class="accordion-toggle collapsed">
				<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>
				<i class="ace-icon fa fa-desktop bigger-120"></i>
				&nbsp;节点列表
			</a>
		</div>

		<div class="panel-collapse collapse" id="master-nodes">
			<div class="panel-body">
				<table class="table table-bordered">
					<tr>
						<th>所在主机</th>
						<th>容器名称</th>
						<th>容器状态</th>
						<th>服务状态</th>
						<th>操作</th>
					</tr>
					{% for node in masterNodes %}
					<tr>
						<td>{{ node.host }}</td>
						<td>{{ node.containerName }}</td>
						{% node_status node %}
						<td>
							<div class="action-buttons">
								<a href="#" class="blue" onclick="updateDockerStatus(this,'start');">
									<i class="fa fa-play-circle bigger-130" title="启动"></i>
								</a>
								<a href="#" class="red" onclick="updateDockerStatus(this,'stop');">
									<i class="fa fa-stop-circle bigger-130" title="停止"></i>
								</a>
								<a href="#" class="" data-toggle="modal" data-target="#myModal" onclick="getLogs(this);">
									<i class="fa fa-file-text" title="日志"></i>
								</a>
								<a href="http://{{node.host}}:{{masterObj.masterPort}}/master/redirect" target="_blank">
									<i class="fa fa-link" title="Master Web"></i>
								</a>
							</div>
						</td>
					</tr>
					{% endfor %}
										
				</table>
			</div>
		</div>
	</div>
</div>
