{% load mesos %}

<div id="{{ slave.slaveLabel }}-list" class="panel-group accordion-style1 accordion-style2">
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="#{{ slave.slaveLabel }}-config" data-parent="#{{ slave.slaveLabel }}-list" data-toggle="collapse" class="accordion-toggle collapsed">
				<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>
				<i class="fa fa-cog bigger-130" aria-hidden="true"></i>
				&nbsp; 配置信息
			</a>
		</div>

		<div class="panel-collapse collapse" id="{{ slave.slaveLabel }}-config">
			<div class="panel-body">
				<div class="profile-user-info profile-user-info-striped">
					<div class="profile-info-row">
						<div class="profile-info-name">VERSION</div>
						<div class="profile-info-value">
							<span>1.6.1-rc2</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">IMAGE</div>
						<div class="profile-info-value">
							<span>{{slaveObj.slaveImage}}</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name">HOST</div>
						<div class="profile-info-value">
							<span>{{slaveObj.slaveDeploy}}</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">PORT</div>
						<div class="profile-info-value">
							<span>{{slaveObj.slavePort}}</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">MESOS_ATTRIBUTES</div>
						<div class="profile-info-value">
							<span>{{slaveObj.slaveLabel}}</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name">MESOS_MASTER</div>
						<div class="profile-info-value">
							<span>{{slaveObj.slaveZK}}</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">MESOS_CONTAINERIZERS</div>
						<div class="profile-info-value">
							<span>docker,mesos</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">MESOS_LOG_DIR</div>
						<div class="profile-info-value">
							<span>/data/mesos-master/log : /var/log/mesos</span>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">MESOS_WORK_DIR</div>
						<div class="profile-info-value">
							<span>/data/mesos-master/workdir : /var/tmp/mesos</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">VOLUMES</div>
						<div class="profile-info-value">
							<span>/sys/fs/cgroup : /sys/fs/cgroup ;  /var/run/docker.sock : /var/run/docker.sock</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">Documentation</div>
						<div class="profile-info-value">
							<span><a href="https://github.com/mesosphere/docker-containers/tree/master/mesos" target="view_window">Readme</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="#{{ slave.slaveLabel }}-nodes" data-parent="#{{ slave.slaveLabel }}-list" data-toggle="collapse" class="accordion-toggle collapsed">
				<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>
				<i class="ace-icon fa fa-desktop bigger-120"></i>
				&nbsp;节点列表
			</a>
		</div>

		<div class="panel-collapse collapse" id="{{ slave.slaveLabel }}-nodes">
			<div class="panel-body">
				<table class="table table-bordered">
					<tr>
						<th>所在主机</th>
						<th>容器名称</th>
						<th>容器状态</th>
						<th>服务状态</th>
						<th>操作</th>
					</tr>
					{% for node in slaveNodes %}
					<tr>
						<td>{{ node.host }}</td>
						<td>{{ node.containerName }}</td>
						{% node_status node %}
						<td>
							{% detail_button %}
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>