<div class="col-xs-12">
	<h4 class="header smaller lighter">
		<i class="fa fa-hand-o-right" aria-hidden="true"></i>
		Zookeeper 运行配置
		<span class="pull-right" onclick="collapseExpand(this);">显示</span>
	</h4>
	<div class="tabbable">
		<ul class="nav nav-tabs" id="master">
			<li class="active">
				<a data-toggle="tab" href="#zookeeperConfig">配置信息</a>
			</li>
			
			<li>
				<a data-toggle="tab" href="#zookeeperNode">节点列表</a>
			</li>
		</ul>

		<div class="tab-content">
			<div id="zookeeperConfig" class="tab-pane in active">
				<div class="profile-user-info profile-user-info-striped">
					<div class="profile-info-row">
						<div class="profile-info-name">VERSION</div>
						<div class="profile-info-value">
							<span>3.4.13</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">IMAGE</div>
						<div class="profile-info-value">
							<span>{{clusterObj.zkImage }}</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name">HOST</div>
						<div class="profile-info-value">
							<span>{{clusterObj.masterDeploy}}</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">PORT</div>
						<div class="profile-info-value">
							<span>2181,2888,3888</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name">ZOO_INIT_LIMIT</div>
						<div class="profile-info-value">
							<span>10</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">Documentation</div>
						<div class="profile-info-value">
							<span><a href="https://hub.docker.com/_/zookeeper/" target="view_window">Readme</a></span>
						</div>
					</div>
				</div>
			</div>
			
			<div id="zookeeperNode" class="tab-pane">
				<table class="table table-bordered">
					<tr>
						<th>所在主机</th>
						<th>容器名称</th>
						<th>容器状态</th>
						<th>服务状态</th>
						<th>操作</th>
					</tr>
					{% for node in zookeeperNodes %}
					<tr>
						<td>{{ node.host }}</td>
						<td>{{ node.containerName }}</td>
						{% ifequal node.containerStatus 1 %}
						<td><span class="label label-sm label-success">运行</span></td>
						{% endifequal %}
						{% ifequal node.containerStatus 2 %}
						<td><span class="label label-sm label-danger">停止</span></td>
						{% endifequal %}
						{% ifequal node.containerStatus 3 %}
						<td><span class="label label-sm">未部署</span></td>
						{% endifequal %}
						
						{% ifequal node.serviceStatus 1 %}
						<td><span class="label label-sm label-success">运行</span></td>
						{% endifequal %}
						{% ifequal node.serviceStatus 2 %}
						<td><span class="label label-sm label-danger">停止</span></td>
						{% endifequal %}
						{% ifequal node.serviceStatus 3 %}
						<td><span class="label label-sm">未部署</span></td>
						{% endifequal %}
						
						<td>
							<div class="action-buttons">
								<a href="#" class="blue">
									<i class="fa fa-play-circle bigger-130" title="启动"></i>
								</a>
								<a href="#" class="red">
									<i class="fa fa-stop-circle bigger-130" title="停止"></i>
								</a>
								<a href="#" class="red">
									<i class="ace-icon fa fa-trash-o bigger-130" title="删除"></i>
								</a>
							</div>
						</td>
					</tr>
					{% endfor %}
					
				</table>
			</div>
		</div>
	</div>
</div><!-- mesos master -->