{% load mesos %}
<div id="{{ haproxyObj.haproxyID }}-list" class="panel-group accordion-style1 accordion-style2">
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="#{{ haproxyObj.haproxyID }}-config" data-parent="#{{ haproxyObj.haproxyID }}-list" data-toggle="collapse" class="accordion-toggle collapsed">
				<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>
				<i class="fa fa-cog bigger-130" aria-hidden="true"></i>
				&nbsp; 配置信息
			</a>
		</div>

		<div class="panel-collapse collapse" id="{{ haproxyObj.haproxyID }}-config">
			<div class="panel-body">
				<div class="profile-user-info profile-user-info-striped">
					<div class="profile-info-row">
						<div class="profile-info-name">ID</div>
						<div class="profile-info-value">
							<span>{{ haproxyObj.haproxyID }}</span>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">VERSION</div>
						<div class="profile-info-value">
							<span>1.5.19</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">IMAGE</div>
						<div class="profile-info-value">
							<span>{{haproxyObj.haproxyImage}}</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">HAPROXY SERVICE PORT</div>
						<div class="profile-info-value">
							<span>{{haproxyObj.servicePort}}</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">HAPROXY STATUS PORT</div>
						<div class="profile-info-value">
							<span>{{haproxyObj.statusPort}}</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">BAMBOO PORT</div>
						<div class="profile-info-value">
							<span>{{haproxyObj.bambooPort}}</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name">CONFIG_PATH</div>
						<div class="profile-info-value">
							<span>config/production.example.json</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">BAMBOO_ZK_HOST</div>
						<div class="profile-info-value">
							<span>zk01.example.com:2181,zk02.example.com:2181</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">BAMBOO_ZK_PATH</div>
						<div class="profile-info-value">
							<span>/{{haproxyObj.haproxyID}}</span>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">Documentation</div>
						<div class="profile-info-value">
							<span><a href="https://github.com/QubitProducts/bamboo" target="view_window">Readme</a></span>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">集群状态</div>
						<div class="profile-info-value">
							<span class="label {{haproxyObj.status|returnClass}} arrowed">{{ haproxyObj.get_status_display}}</span>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">集群操作</div>
						<div class="profile-info-value">
							<span class="label label-danger" id="enabled" onclick="clusterNodeDel(this);"><i class="fa fa-trash-o"></i> 删除</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="#{{ haproxyObj.haproxyID }}-nodes" data-parent="#{{ haproxyObj.haproxyID }}-list" data-toggle="collapse" class="accordion-toggle collapsed">
				<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>
				<i class="ace-icon fa fa-desktop bigger-120"></i>
				&nbsp;节点列表
			</a>
		</div>

		<div class="panel-collapse collapse" id="{{ haproxyObj.haproxyID }}-nodes">
			<div class="panel-body">
				<table class="table table-bordered">
					<tr>
						<th>所在主机</th>
						<th>容器名称</th>
						<th>容器状态</th>
						<th>服务状态</th>
						<th>操作</th>
					</tr>
					{% for node in haproxyNodes %}
					<tr>
						<td>{{ node.host }}</td>
						<td>{{ node.containerName }}</td>
						{% node_status node %}
						<td>
							<div class="action-buttons">
								<a href="#" class="blue" onclick="updateDockerStatus(this,'start');">
									<i class="fa fa-play-circle bigger-130" title="启动"></i>
								</a>
								<a href="#" class="red" onclick="updateDockerStatus(this,'stop');">
									<i class="fa fa-stop-circle bigger-130" title="停止"></i>
								</a>
								<a href="#" class="" data-toggle="modal" data-target="#myModal" onclick="getLogs(this);">
									<i class="fa fa-file-text" title="日志"></i>
								</a>
							</div>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>