{% load mesos %}

<div id="{{ slave.slaveLabel }}-list" class="panel-group accordion-style1 accordion-style2">
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="#{{ slave.slaveLabel }}-config" data-parent="#{{ slave.slaveLabel }}-list" data-toggle="collapse" class="accordion-toggle collapsed">
				<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>
				<i class="fa fa-cog bigger-130" aria-hidden="true"></i>
				&nbsp; 配置信息
			</a>
		</div>

		<div class="panel-collapse collapse" id="{{ slave.slaveLabel }}-config">
			<div class="panel-body">
				<div class="profile-user-info profile-user-info-striped">
					<div class="profile-info-row">
						<div class="profile-info-name">VERSION</div>
						<div class="profile-info-value">
							<span>1.6.1-rc2</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">IMAGE</div>
						<div class="profile-info-value">
							<span>{{slave.slaveImage}}</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">PORT</div>
						<div class="profile-info-value">
							<span>{{slave.slavePort}}</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">MESOS_ATTRIBUTES</div>
						<div class="profile-info-value">
							<span>{{slave.slaveLabel}}</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name">MESOS_MASTER</div>
						<div class="profile-info-value">
							<span>{{slave.slaveZK}}</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">MESOS_CONTAINERIZERS</div>
						<div class="profile-info-value">
							<span>docker,mesos</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">MESOS_LOG_DIR</div>
						<div class="profile-info-value">
							<span>/data/mesos-master/log : /var/log/mesos</span>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">MESOS_WORK_DIR</div>
						<div class="profile-info-value">
							<span>/data/mesos-master/workdir : /var/tmp/mesos</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">VOLUMES</div>
						<div class="profile-info-value">
							<span>/sys/fs/cgroup : /sys/fs/cgroup ;  /var/run/docker.sock : /var/run/docker.sock</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">Documentation</div>
						<div class="profile-info-value">
							<span><a href="https://github.com/mesosphere/docker-containers/tree/master/mesos" target="view_window">Readme</a></span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">集群状态</div>
						<div class="profile-info-value">
							<span class="label {{slave.status|returnClass}} arrowed">{{ slave.get_status_display}}</span>
						</div>
					</div>
					
					<div class="profile-info-row">
						<div class="profile-info-name">集群操作</div>
						<div class="profile-info-value">
							<span class="label label-danger" id="enabled" onclick="clusterNodeDel(this);"><i class="fa fa-trash-o"></i> 删除</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="#{{ slave.slaveLabel }}-nodes" data-parent="#{{ slave.slaveLabel }}-list" data-toggle="collapse" class="accordion-toggle collapsed">
				<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>
				<i class="ace-icon fa fa-desktop bigger-120"></i>
				&nbsp;节点列表
			</a>
		</div>

		<div class="panel-collapse collapse" id="{{ slave.slaveLabel }}-nodes">
			<div class="panel-body">
				<table class="table table-bordered">
					<tr>
						<th>所在主机</th>
						<th>容器名称</th>
						<th>容器状态</th>
						<th>服务状态</th>
						<th>操作</th>
					</tr>
					{% for node in slaveNodes %}
					<tr>
						<td>{{ node.host }}</td>
						<td>{{ node.containerName }}</td>
						{% node_status node %}
						<td>
							<div class="action-buttons">
								<a href="#" class="blue" onclick="updateDockerStatus(this,'start');">
									<i class="fa fa-play-circle bigger-130" title="启动"></i>
								</a>
								<a href="#" class="red" onclick="updateDockerStatus(this,'stop');">
									<i class="fa fa-stop-circle bigger-130" title="停止"></i>
								</a>
								<a href="#" class="red" onclick="SingleNodeDel(this);">
									<i class="fa fa-trash-o bigger-130" title="删除"></i>
								</a>
								<a href="#" class="" data-toggle="modal" data-target="#myModal" onclick="getLogs(this);">
									<i class="fa fa-file-text" title="日志"></i>
								</a>
							</div>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>