{% extends "base/base.html" %}
{% load asset %}
{% block css %}
<style>
.header {
    margin-top:0px;
}

.hostoverview{
	border: 1px solid  	#D3D3D3;
	padding-top: 5px;
}

.table > tbody > tr > td{
	padding:2px;
	border-top: none;
}

.table > tbody > tr > th{
	padding:2px;
	border-top: none;
}

.pagination{
	margin: 0px;
}

</style>
{% endblock %}
{% block main %}
<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="{% url 'dashboard' %}">Home</a>
				</li>

				<li>
					资产管理
				</li>
				<li>
					<a href="{% url 'HostList' %}">主机列表</a>
				</li>
				<li>{{detailhost.private_ip}}</li>
				
			</ul><!-- /.breadcrumb -->

		</div>

		<div class="page-content">
			
			<div class="row">
				<div class="col-xs-12">
					
					<div class="tabbable">
						<ul class="nav nav-tabs" id="myTab4">
							<li class="active">
								<a data-toggle="tab" href="#monitor">监控视图</a>
							</li>
							<li >
								<a data-toggle="tab" href="#manager">主机信息</a>
							</li>

							<li>
								<a data-toggle="tab" href="#agent">代理信息</a>
							</li>
							<li>
								<a data-toggle="tab" href="#event">历史事件</a>
							</li>
						</ul>

						<div class="tab-content">
							<div id="manager" class="tab-pane">
								{% hostInfoView detailhost %}
							</div>
							<div id="monitor" class="tab-pane in active">
								{% hostMonitorView %}
							</div>
														
							<div id="agent" class="tab-pane">
								{% if detailhost.agent_is_install %}
								<div class="profile-user-info profile-user-info-striped">
									
									<div class="profile-info-row">
										<div class="profile-info-name">部署目录</div>
										<div class="profile-info-value">
											<span>{{detailhost.hostname}}</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name">代理端口</div>
										<div class="profile-info-value">
											<span>7000</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name">代理状态</div>
										<div class="profile-info-value">
											<span></span>
										</div>
									</div>					
								</div>
								{% else %}
								<div class="center">代理未安装</div>
								{% endif %}
							</div>
							
							<div id="event" class="tab-pane">
								<table class="table">
									<thead>
										<tr>
											<th>结果</th>
											<th>状态</th>
											<th>类型</th>
											<th>时间</th>
											<th>详细信息</th>
										</tr>
									</thead>
									<tbody>
										
										{% for event in EventQuerySet %}
										<tr>
											{% if event.is_succeeded %}
											<td>成功</td>
											<td><i class="fa fa-check-circle health" aria-hidden="true"></i></td>
											{% else %}
											<td>失败</td>
											<td><span class="glyphicon glyphicon-remove-sign unhealth"></span></td>
											{% endif %}
											<td>{{event.get_action_display}}</td>
											<td>{{event.time|date:"Y-m-d H:i:s"}}</td>
											<td>{{event.content|default:'-------'}}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>

						</div>
					</div>
				  
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->
{% endblock %}
{% block js %}
<script src="/static/js/echarts.min.js"></script>
<script type="text/javascript">  	
	function setdiskIO (id,title,height,series) {
	$('#'+id).css({'width': '100%' , 'height': height});
    this.chart = echarts.init(document.getElementById(id))
    this.chart.setOption({
    title: {
        text: title,
		x: 'center',
		textStyle: {
              fontWeight: 'normal',
              fontSize: 16,
        }
    },
    tooltip : {
        trigger: 'axis',
        axisPointer: {
            type: 'cross',
            label: {
                backgroundColor: '#6a7985'
            }
        }
    },
   
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            data : ['09:00','09:30','10:00','10:30','11:00','11:30','12:00']
        }
    ],
    yAxis : [
        {
            type : 'value',
        }
    ],
    series : series
    });
	return this.chart;
    };
$(document).ready(function(){
	var hei = (document.documentElement.clientHeight*28/100);
	console.log(hei);
	var cpu_series =[
        
        {
            name:'usage_iowait',
            type:'line',
            stack: '总量',
            areaStyle: {normal: {}},
			itemStyle:{
				normal:{
					color:'#FFFF00'
				}
			},
            data:[1, 2, 1, 3, 1, 2, 4]
        },
        {
            name:'usage_user',
            type:'line',
            stack: '总量',
            areaStyle: {normal: {
				color:'yellow',
				},},
			itemStyle:{
				normal:{
					color:'#00BFFF'
				}
			},
            data:[3, 4, 5, 3, 5, 6, 1],
        },
        {
            name:'usage_system',
            type:'line',
            stack: '总量',
            areaStyle: {normal: {}},
			itemStyle:{
				normal:{
					color:'#DAA520'
				}
			},
            data:[5, 4, 2, 1, 3, 2, 1]
        },
		{
            name:'usage_idle',
            type:'line',
            stack: '总量',
            areaStyle: {normal: {
				color: '#90EE90'
			}},
			itemStyle:{
				normal:{
					color:'#90EE90'
				}
			},
            data:[91, 90, 92, 93, 91, 90, 94]
        }
    ];
	var memory_series =[
        
        {
            name:'usage_iowait',
            type:'line',
            stack: '总量',
            areaStyle: {normal: {}},
			itemStyle:{
				normal:{
					color:'#FFFF00'
				}
			},
            data:[1, 2, 1, 3, 1, 2, 4]
        },
        {
            name:'usage_user',
            type:'line',
            stack: '总量',
            areaStyle: {normal: {
				color:'yellow',
				},},
			itemStyle:{
				normal:{
					color:'#00BFFF'
				}
			},
            data:[3, 4, 5, 3, 5, 6, 1],
        },
        
		
    ];
	
	
	var diskI_hei_t = $("#diskId").css('height');
	var diskU_hei_t = $("#diskUd").css('height');
	
	var diskI_hei = hei-(diskI_hei_t.substring(0,diskI_hei_t.length-2)) +113;
	var diskU_hei = hei-(diskU_hei_t.substring(0,diskU_hei_t.length-2)) +113;
	
	console.log(hei);
	console.log(diskI_hei);

	cpuObj = setdiskIO('cpu','CPU使用率',hei,cpu_series);
	memoryObj = setdiskIO('memory','内存使用率',hei,memory_series);
	diskIObj = setdiskIO('diskI','磁盘 IO',diskI_hei,memory_series);
	diskUObj = setdiskIO('diskU','磁盘使用率',diskU_hei,memory_series);
	networkObj = setdiskIO('network','Network',hei);
	netstatObj = setdiskIO('netstat','Netstat',hei);
	processesObj = setdiskIO('processes','进程数',hei);
	threadsObj = setdiskIO('threads','线程数',hei);
	loadObj = setdiskIO('load','5分钟负载',hei);
	
	
	
});
$(window).resize(function() {
	/* var width = $(".widget-main").width();
	draw_resource('piechart-placeholder',width,'180px','60'); */
	cpuObj.resize();
	memoryObj.resize();
	diskIObj.resize();
	diskUObj.resize();
	networkObj.resize();
	netstatObj.resize();
	processesObj.resize();
	threadsObj.resize();
	loadObj.resize();
});
  
</script>
{% endblock %}

