<div class="col-xs-12">
	<button class="btn btn-mini btn-info"><i class="glyphicon glyphicon-file"></i> 发布</button>
	<button class="btn btn-mini btn-info"><i class="glyphicon glyphicon-pause"></i> 暂停</button>
	<button class="btn btn-mini btn-info"><i class="glyphicon glyphicon-play"></i> 启动</button>
	<button class="btn btn-mini btn-info"><i class="glyphicon glyphicon-refresh"></i> 重启</button>
	<div class="space-2 visible-xs"></div>
	<button class="btn btn-mini btn-info"><i class="glyphicon glyphicon-fullscreen"></i> 扩容</button>
	<button class="btn btn-mini btn-warning"><i class="fa fa-reply" aria-hidden="true"></i> 取消部署</button>
</div>