{% extends "base/base.html" %}

{% block css %}
<!-- custom css -->
<link rel="stylesheet" href="/static/css/fontello/fontello.css" />
<style>
.header{
	margin-top: 0px;
}
.resultData,#progressbar-div{
	display:none;
}

#execute-result td{
	border:none;
}
</style>
{% endblock %}

{% block main %}
<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="{% url 'dashboard' %}">Home</a>
				</li>
				<li>
					作业中心
				</li>
				<li><a href="{% url 'AnsibleList' %}">剧本执行</a></li>
				<li>执行结果</li>
			</ul><!-- /.breadcrumb -->
		</div>

		<div class="page-content">

			<div class="row">
				<div class="col-xs-12">
					<h4 class="header smaller lighter blue">
					<i class="fa fa-hand-o-right" aria-hidden="true"></i>
					任务详情
					</h4>
					
					<table class="table table-bordered"">
						<tr>
							<th class="col-sm-1">任务ID</th><td class="col-sm-2" id="task_id">{{taskid}}</td>
							<th class="col-sm-1">剧本名称</th><td class="col-sm-2">{{ansibleObj.name}}</td>
							<th class="col-sm-1">总步骤</th><td class="col-sm-2">{{ansibleObj.total_role_count}}</td>
							<th class="col-sm-">总任务</th><td class="col-sm-2">{{ansibleObj.total_task_count}}</td>
						</tr>
						<tr>
							<th>任务状态</th><td><progress max="100" value="0" id="pg"></progress></td>
							<th>开始时间</th><td><i class="ace-icon fa fa-clock-o bigger-110 hidden-480"> {{start_time}}</i></td>
							<th>结束时间</th><td><i class="ace-icon fa fa-clock-o bigger-110 hidden-480" id="end-time"> </i></td>
							<th>总耗时</th><td><i class="ace-icon fa fa-clock-o bigger-110 hidden-480" id="total-time"></i></td>
						</tr>
						<tr>
							<th colspan="1">结果状态</th>
							<td colspan="7" class="blue" id="execute-description">
								正在获取执行结果...
							</td>
						</tr>
						<tr id="execute-result">
							<td colspan="8">
								<!--
								<ul class="nav nav-list" id="step_id">
									<span><strong>步骤：install_db</strong></span>
									<ul class="submenu">
										<li style="margin:5px;">
											<span>任务：copy mysqld package</span>
											<p></p>
											<table class="table table-bordered">
												<tr>
													<td class="col-sm-1 center">192.168.10.3</td>
													<td class="col-sm-1 center"><i class="fa fa-check-circle health" aria-hidden="true"></i></td>
													<td></td>
												</tr>
												<tr>
													<td class="col-sm-1 center">192.168.10.4</td>
													<td class="col-sm-1 center"><i class="icon-cancel-circled red"></i>  </td>
													<td class="col-sm-10 red">
														ntp-4.2.6p5-28.el7.centos.x86_64: [Errno 256] No more mirrors to try
													</td>
												</tr>
											</table>
										</li>
									</ul>
								</ul> -->
							</td>
						</tr>
					</table>
				  
				</div><!-- /.col -->
			</div><!-- /.row -->
			
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->
{% endblock %}
{% block js %}
<!-- page specific plugin scripts -->
<script src="/static/assets/js/jquery-ui.min.js"></script>

<script type="text/javascript">

//脚本执行进度条
function ScriptExecuteProgressBar(proVal){
	$( "#progressbar" ).progressbar({
		value: proVal,
		create: function( event, ui ) {
			$(this).addClass('progress progress-striped active')
				   .children(0).addClass('progress-bar progress-bar-success');
		}
	});
	$(".ui-progressbar-value").text(proVal+'%');
}

function getResult(){
	var task_id = $("#task_id").text();
	var interval = setInterval(function(){
		$.ajax({
			type: 'POST',
			url: '/ansible/execute/result/',
			data: {'task_id':task_id},
			success:function(data){
				var pg=document.getElementById('pg');
				if(data['status'] == 'Running' && data['data'] != null){
					pg.value = data['progress'];
					var step_id = data['data']['step'].replace(/ /g,'');
					var task_id = data['data']['task'].replace(/ /g,'');
					if(data['data']['status']){
						var tr_str = '<tr>\
										<td class="col-sm-1 center">'+data['data']['host']+'</td>\
										<td class="col-sm-1 center"><i class="fa fa-check-circle health"></i></td>\
										<td>成功</td>\
									</tr>';
					}else{
						var tr_str = '<tr>\
										<td class="col-sm-1 center">'+data['data']['host']+'</td>\
										<td class="col-sm-1 center"><i class="icon-cancel-circled red"></i></td>\
										<td class="col-sm-10 red">'+data['data']['msg']+'</td>\
									</tr>';
					};
					//如果任务存在，直接把主机结果附加到任务里
					if(document.getElementById(task_id)){
						$("#"+task_id).siblings("table").append(tr_str);
					}else{
					//如果任务不存在，步骤存在，说明是新任务,附加到步骤里
						if(document.getElementById(step_id)){
							var task_str = '<li style="margin:5px;">\
											<span id="'+task_id+'">任务：'+data['data']['task']+'</span>\
											<p></p>\
											<table class="table table-bordered">'+tr_str+'</table>\
										</li>';
							$("#"+step_id+" .submenu").append(task_str);
						}else{
							//如果步骤不存在，添加步骤，任务，结果
							var step_str = '<ul class="nav nav-list" id="'+step_id+'">\
												<span><strong>步骤：'+data['data']['step']+'</strong></span>\
												<ul class="submenu">\
													<li style="margin:5px;">\
														<span id="'+task_id+'">任务：'+data['data']['task']+'</span>\
														<p></p>\
														<table class="table table-bordered">'+tr_str+'</table>\
													</li>\
												</ul>\
											</ul>';
							$("#execute-result").children("td").append(step_str);
						};
					
					}
				}else{
					if(data['status']=='Done'){
						clearInterval(interval);
						pg.value = '100';
						$("#end-time").text(' '+data['end_time']);
						$("#total-time").text(' '+data['total_time']+'秒');
						$("#execute-description").text("获取结果完成!");
					}else if(data['status'] == 'Exception'){
						clearInterval(interval);
						$("#execute-result").children("td").text(data['msg']);
					}
				}
			}
		});
	},1000); 
	
}

getResult();
$("#progressbar-div").css('display','block');//显示进度条
ScriptExecuteProgressBar(100);
</script>
{% endblock %}
