{% extends "base/base.html" %}

{% block css %}
<style>
#err-div{
	display:none;
}

.widget-header {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    min-height: 38px;
    background: repeat-x #68BD68;
        background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
    color: #000000;
    border-bottom: 1px solid #DDD;
    padding-left: 12px;
}
.widget-toolbar label{
	cursor:pointer;
}

.modal{
	margin-top:60px;
}

#delButton{
	cursor:pointer;
}

</style>
{% endblock %}

{% block main %}
<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="{% url 'dashboard' %}">Home</a>
				</li>
				<li>
					作业中心
				</li>
				<li><a href="{% url 'AnsibleList' %}">Ansible</a></li>
				<li>新建剧本</li>
			</ul><!-- /.breadcrumb -->
		</div>

		<div class="page-content">

			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-block alert-danger" id="err-div">
						<button type="button" class="close" data-dismiss="alert">
							<i class="ace-icon fa fa-times"></i>
						</button>
						<span id="err-msg"></span>
					</div>
					<div class="tabbable">
						<div class="tab-content">
							<form class="form-horizontal" method="POST" enctype="multipart/form-data">
								<div class="form-group">
									<label class="col-xs-12 col-sm-1 no-padding-right">
										<span style="font-size:18px;">剧本名称</span><span class="red">*</span>
									</label>
									<div class="col-xs-12 col-sm-11">
										<span class="block input-icon input-icon-right">
											<input name="playbook_name" class="form-control" placeholder="只能使用英文字母、数字、连接符、下划线, 如：lamp, lamp_1," />
										</span>
									</div>
								</div>
								
								<div class="widget-box" id='step1'>
									<div class="widget-header">
										<div style="padding-top:5px;display:inline-block;">
											<span class="white">步骤名称<span class="red"> *</span></span><input name="step1" type="text" style="line-height:15px;" />
										</div>
										<div class="widget-toolbar">
											<label class="white">
												<i class="fa fa-times"></i>
											</label>
										</div>
										<div class="widget-toolbar">
											<label class="white">
												<i class="fa fa-angle-double-up" onclick="switchUpDown(this);"></i>
											</label>
										</div>
										<div class="widget-toolbar" onclick="setModalRelID(this);">
											<label class="white">
												<i class="fa fa-plus" aria-hidden="true"></i>
												<b data-toggle="modal" data-target="#myselect">选择服务器</b>
											</label>
										</div>
									</div>
									<div class="widget-body">
										<div class="widget-main">
											<div class="tabbable">
												<ul class="nav nav-tabs">
													<li class="active">
														<a data-toggle="tab" href="#task1"><span class="red"> *</span>tasks</a>
													</li>
													<li>
														<a data-toggle="tab" href="#handler1">handlers</a>
													</li>
													<li>
														<a data-toggle="tab" href="#var1">vars</a>
													</li>
													<li>
														<a data-toggle="tab" href="#template1">templates</a>
													</li>
													<li>
														<a data-toggle="tab" href="#file1">files</a>
													</li>
													<li>
														<a data-toggle="tab" href="#host1"><span class="red"> *</span>hosts(已选服务器)
														<span class="badge badge-danger">0</span>
														</a>
													</li>
												</ul>

												<div class="tab-content">
													<div id="task1" class="tab-pane in active">
														备注:<span class="smaller green">这里所编写的任务会保存在此步骤（角色）下的<strong class="red"> tasks </strong>目录下的main.yml文件中</span>
														<p></p>
														<div id="task-editor1" class="ace_editor" style="min-height:200px"></div> 
													</div>
													
													<div id="handler1" class="tab-pane">
														备注:<span class="smaller green">这里所编写的任务会保存在此步骤（角色）下的<strong class="red"> handlers </strong>目录下的main.yml文件中</span>
														<p></p>
														<div id="handler-editor1" class="ace_editor" style="min-height:200px"></div> 
													</div>
													
													<div id="var1" class="tab-pane">
														备注:<span class="smaller green">这里所编写内容会保存在此步骤（角色）下的<strong class="red"> vars </strong>目录下的main.yml文件中</span>
														<p></p>
														<div id="var-editor1" class="ace_editor" style="min-height:200px"></div>
													</div>
													
													<div id="template1" class="tab-pane">
														备注:<span class="smaller green">这里所上传的文件会保存在此步骤（角色）下的<strong class="red"> templates </strong>目录下</span>
														<p></p>
														<div class="widget-box">
															<div class="widget-body">
																<table class="table">
																	<thead>
																		<tr><th>文件名</th><th>状态</th><th>大小</th><th>动作</th></tr>
																	</thead>
																	<tbody id="templatefilelist1">
																		
																	</tbody>
																</table>
															</div>
															<div class="widget-footer">
																<div id="templatecontainer1" class="center">
																	<a id="templatepickfile1" href="javascript:;"><button class="btn btn-white btn-info btn-xs btn-bold" type="button">选择文件</button></a> 
																	<a id="templateuploadfile1" href="javascript:;"><button class="btn btn-white btn-info btn-xs btn-bold">上传文件</button></a>
																</div>
															</div>
														</div>														
													</div>
													
													<div id="file1" class="tab-pane">
														备注:<span class="smaller green">这里所上传的文件会保存在此步骤（角色）下的<strong class="red"> files </strong>目录下</span>
														<p></p>
														<div class="widget-box">
															<div class="widget-body">
																<table class="table">
																	<thead>
																		<tr><th>文件名</th><th>状态</th><th>大小</th><th>动作</th></tr>
																	</thead>
																	<tbody id="filefilelist1">
																		
																	</tbody>
																</table>
															</div>
															<div class="widget-footer">
																<div id="filecontainer1" class="center">
																	<a id="filepickfile1" href="javascript:;"><button class="btn btn-white btn-info btn-xs btn-bold" type="button">选择文件</button></a> 
																	<a id="fileuploadfile1" href="javascript:;"><button class="btn btn-white btn-info btn-xs btn-bold">上传文件</button></a>
																</div>
															</div>
														</div>	
													</div>
													
													<div id="host1" class="tab-pane">
														备注:<span class="smaller green">以下列表的主机会被保存在<strong class="red"> roles </strong>同级目录的<strong class="red"> hosts </strong>文件里，组名为步骤名</span>
														<p></p>
														<div class="widget-box">
															<div class="widget-body">
														<table class="table">
															<tr>
																<th>主机名</th>
																<th>状态</th>
																<th>帐号</th>
																<th>IP</th>
																<th>动作</th>
															</tr>
														</table>
														</div>
														</div>
													</div>
												</div>
											</div> <!-- tabbable -->
										</div><!-- widget-main -->
									</div><!-- widget-body -->
								</div><!-- widget-box -->
								
								<div>
									<button class="btn btn-sm" type="button" onclick="addStep(this);"><i class="fa fa-plus"></i> 添加步骤</button>
								</div>
									
								<div class="center">
									<input type="text" name="action_type" hidden />
									<button class="btn btn-sm btn-primary" type="button" onclick="saveAnsible('save');"><i class="fa fa-check"></i> 保存</button>
									<button class="btn btn-sm btn-danger" type="button" onclick="javascript:history.go(-1);"><i class="fa fa-close"></i> 取消</button>
								</div>
							</form>
						</div>
					</div>
				  
				</div><!-- /.col -->
			</div><!-- /.row -->
			
			<!-- 服务器选择模态框（Modal） -->
			<div class="modal fade" id="myselect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<div><h4>选择服务器 - 共 <span style="font-weight:700;">{{total_host_count}}</span> 台</h4></div>
						</div>
						<div class="modal-body">
							<div class="input-group">
								<span class="input-group-btn">
									<input type="text" class="form-control search-query" id="hostFilter" placeholder="通过IP过滤搜索" />
								</span>
							</div>
							<div class="space-4"></div>
							<div>
								<table class="table" id="table">
									<tr>
										<th><input type="checkbox" onclick="allChecked(this);" /></th>
										<th>主机名</th>
										<th>状态</th>
										<th>帐号</th>
										<th>IP</th>
									</tr>
									{% for host in hosts %}
									<tr class="tr-select-modal">
										<td><input type="checkbox" /></td>
										<td>{{ host.hostname }}</td>
										{% ifequal host.host_status 1 %}
										<td><span class="label label-sm label-success">在线</span></td>
										{% else %}
										<td><span class="label label-sm label-danger">离线</span></td>
										{% endifequal %}
										<td>
											<select name="accounts" style="width:80px;">
												{% for account in host.accounts %}
												<option>{{account.account}}</option>
												{% endfor %}
											</select>
										</td>
										<td>{{host.private_ip}}</td>
									</tr>
									{% endfor %}
								</table>
							</div>
						</div>
						<div class="modal-footer">
							<div class="center">
								<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addHost();">添加</button>
							</div>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal -->
			</div>
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->
{% endblock %}
{% block js %}
<!-- page specific plugin scripts -->
<script src="/static/ace-editor/ace.js"></script>
<script src="/static/ace-editor/ext-language_tools.js"></script>
<script src="/static/ace-editor/theme-monokai.js"></script>
<script src="/static/plupload-2.3.6/js/plupload.full.min.js"></script>
<script src="/static/js/jquery.easysearch.js"></script>

<script src="/static/js/ansible.js"></script>

<script type="text/javascript">

//定义全局变量div_id, 作为步骤ID递增值
div_id = 1;

//定义StepNum 变量，选择服务器时,获取当前step  ID，截取数字存入StepNum，当添加主机时，再读取StepNum值找到对应 ID=host+StepNum的元素
StepNum = 1;


setAceEditMode('task-editor1','yaml','');
setAceEditMode('handler-editor1','yaml','');
setAceEditMode('var-editor1','yaml','');
InitFileUpload('templatepickfile1','templatecontainer1','templatefilelist1','templateuploadfile1');
InitFileUpload('filepickfile1','filecontainer1','filefilelist1','fileuploadfile1');

//使用easysearch 进行主机过滤
$('#hostFilter').jSearch({ 
    selector  : '#table',
    child : 'tr > td',
    minValLength: 0,
    Before: function(){
        $('#table tr').data('find','');
    },
    Found : function(elem){
        $(elem).parent().data('find','true');
        $(elem).parent().show();
    },
    NotFound : function(elem){
        if (!$(elem).parent().data('find'));
        $(elem).parent().hide();
    },
    After : function(t){
        if (!t.val().length) $('#table tr').show();
    }
});

</script>
{% endblock %}
