{% extends "base/base.html" %}

{% block css %}
<style>
<link rel="stylesheet" href="/static/assets/css/select2.min.css" />
#writeScript .widget-header {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    min-height: 38px;
    background: repeat-x #FFFFFF;
        background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
    color: #000000;
    border-bottom: 1px solid #DDD;
    padding-left: 12px;
}
</style>
{% endblock %}

{% block main %}
<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="{% url 'dashboard' %}">Home</a>
				</li>
				<li>
					作业中心
				</li>
				<li><a href="{% url 'AnsibleList' %}">Ansible</a></li>
				<li>新建剧本</li>
			</ul><!-- /.breadcrumb -->
		</div>

		<div class="page-content">

			<div class="row">
				<div class="col-xs-12">
					
					<div class="tabbable">
						<div class="tab-content">
							<form class="form-horizontal" method="POST">
								<div class="form-group">
									<label for="inputWarning" class="col-xs-12 col-sm-1 control-label no-padding-right">剧本名称</label>
									<div class="col-xs-12 col-sm-11">
										<span class="block input-icon input-icon-right">
											<input type="text" class="form-control" id="firstname" placeholder="请输入名字">
										</span>
									</div>
								</div>
								<div class="form-group">
									<label for="inputWarning" class="col-xs-12 col-sm-1 control-label no-padding-right">目标机器</label>
									<div class="col-xs-12 col-sm-2">
										<span class="block input-icon input-icon-right">
											<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myselect">
												<i class="fa fa-television" aria-hidden="true"></i> 选择服务器
											</button>
										</span>
									</div>
									
									<div class="col-xs-12 col-sm-2">
										<span class="block input-icon input-icon-right">
											<button class="btn btn-sm btn-danger">清空IP</button>
										</span>
									</div>
									<div class="col-xs-12 col-sm-2">
										<span class="block input-icon input-icon-right">
											<div style="margin-top:6px;">
											已选 <span class="badge badge-warning">4</span> 台
											</div>
										</span>
									</div>
								</div>
								<div class="form-group">
									<label for="inputError2" class="col-xs-12 col-sm-1 control-label no-padding-right">剧本来源</label>
									<div class="col-xs-12 col-sm-4">
										<label class="control-label no-padding-right">
											<input type="radio" name="scriptFrom" class="ace ace-radio" checked />
											<span class="lbl">手工录入</span>
										</label>
										<span>&nbsp;&nbsp;</span>
										<label class="control-label no-padding-right">
											<input type="radio" name="scriptFrom" class="ace ace-radio" />
											<span class="lbl">本地剧本</span>
										</label>
										<span>&nbsp;&nbsp;</span>
										<label class="control-label no-padding-right">
											<input type="radio" name="scriptFrom" class="ace ace-radio" />
											<span class="lbl">已有剧本</span>
										</label>
									</div>
								</div>
								<div class="form-group">
									<label for="inputWarning" class="col-xs-12 col-sm-1 control-label no-padding-right">脚本内容</label>
									<div class="col-xs-12 col-sm-11" id="writeScript">
										<div class="widget-box">
											
											<div class="widget-body">
												<div class="widget-main">
													<div id="compile-editor" class="ace_editor" style="min-height:170px">abc</div> 
												</div>
											</div>
										</div>
										
									</div>
								</div>
								<div class="form-group">
									<label for="inputWarning" class="col-xs-12 col-sm-1 control-label no-padding-right">外部变量</label>
									<div class="col-xs-12 col-sm-11">
										<span class="block input-icon input-icon-right">
											<input type="text" class="form-control" id="firstname" placeholder="请输入名字">
										</span>
									</div>
								</div>
								<div class="center">
									<button class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i>保存</button>
									<button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-cog"></i>执行</button>
								</div>
							</form>
						</div>
						
					</div>
						
					<div style="display:none;">
						<div class="widget-box">
							<div class="widget-header">
								<div class="col-sm-10">
								<h4 class="smaller">
									执行结果
									<span class="badge">任务ID:N/A</span>
									<span class="badge badge-info">总任务:N/A</span>
									<span class="badge badge-success">已完成:N/A</span>
									<span class="badge badge-danger">失败:N/A</span>
									<span class="badge badge-gray">收缩/展开<i class="glyphicon glyphicon-chevron-left"></i></span>
									
								</h4>
								</div>
							</div>

							<div class="widget-body">
								<div class="widget-main">
									<div class="center">N/A</div>
								</div>
							</div>
						</div>
					</div><!-- /.col -->
				  
				</div><!-- /.col -->
			</div><!-- /.row -->
			
			<!-- 服务器选择模态框（Modal） -->
			<div class="modal fade" id="myselect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<div><h4>选择服务器</h4></div>
							<div class="space-4"></div>
							<div class="input-group">
								<input type="text" class="form-control search-query" placeholder="通过IP，主机名过滤搜索" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-inverse btn-white">
										<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
										Search
									</button>
								</span>
							</div>
							<div class="space-4"></div>
							<div>
								<table class="table">
									<tr>
										<th><input type="checkbox" /></th>
										<th>IP</th>
										<th>状态</th>
										<th>主机名</th>
									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>192.168.10.3</td>
										<td><span class="label label-sm label-success">在线</span></td>
										<td>keystone</td>
									</tr>
								</table>
							</div>
							<hr>
							<div class="center">
								<button type="button" class="btn btn-primary" data-dismiss="modal">添加</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							</div>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal -->
			</div>
			
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->
{% endblock %}
{% block js %}
<!-- page specific plugin scripts -->
<script src="/static/ace-editor/ace.js"></script>
<script src="/static/ace-editor/ext-language_tools.js"></script>
<script src="/static/ace-editor/theme-monokai.js"></script>
<script type="text/javascript">
function setAceEditMode(model) {
	var editor = ace.edit("compile-editor");
	var langTools = ace.require("ace/ext/language_tools");
	editor.setTheme("ace/theme/monokai");
	if (model == 'sh'){
		editor.removeLines();
		editor.insert("#!/bin/bash");
	}
	else if(model == 'python'){
		editor.removeLines();
		editor.insert("#!/usr/bin/python");
	}
	else if(model == 'perl'){
		editor.removeLines();
		editor.insert("#!/usr/bin/perl");
	}
	else{
		var model = 'sh'
	};
	editor.getSession().setMode("ace/mode/" + model);
	editor.setShowPrintMargin(false);
	editor.setOptions({
	    enableBasicAutocompletion: true,
	    enableSnippets: true,
	    enableLiveAutocompletion: true
	}); 
			 
};
setAceEditMode('sh');
</script>
{% endblock %}
