<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 
<meta http-equiv="Pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache"> 
<meta http-equiv="Expires" content="0"> 
<title>系统登录</title> 
<link href="/static/css/login.css" type="text/css" rel="stylesheet"> 
</head> 
<body> 

<div class="login">
    <div class="message">自动化系统登录</div>
    <div id="darkbannerwrap"></div>
    
    <form method="POST">
		<input type="text" name="username" class="form-control" placeholder="用户名" />
		<hr class="hr15">
		<input type="password" name="password" class="form-control" placeholder="密码" />
		<hr class="hr15">
		<input value="登录" style="width:100%;" type="submit">
		<hr class="hr20">
		<span style="color:red;">{{err_msg}}</span>
	</form>
	
</div>

<div class="copyright"><span>版权所有<b class="copy"> &copy;</b> 2017 贵州火烈鸟科技有限公司  地址：xxxxx</span></div>


</body></html>
		
		