{% extends "base/base.html" %}
{% block css %}
<style type="text/css">
#download,#build,#jenkins{
	display: none;
}
.table{
	margin-bottom: 0px;
}
</style>
<link rel="stylesheet" href="/static/assets/css/select2.min.css" />
{% endblock %}
{% block main %}
<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="{% url 'dashboard' %}">Home</a>
				</li>

				<li>
					应用管理
				</li>
				<li>
					<a href="{% url 'AppDaemonList' %}">应用列表</a>
				</li>
				<li>创建应用</li>
				
			</ul><!-- /.breadcrumb -->

		</div>

		<div class="page-content">

			<div class="row">
				<div class="col-xs-12">
					<div class="widget-box">
						

						<div class="widget-body">
							<div class="widget-main">
								<div id="fuelux-wizard-container">
									<div>
										<ul class="steps">
											<li data-step="1" class="active">
												<span class="step">1</span>
												<span class="title">应用基本信息</span>
											</li>

											<li data-step="2">
												<span class="step">2</span>
												<span class="title">发布配置信息</span>
											</li>

											<li data-step="3">
												<span class="step">3</span>
												<span class="title">发布动作信息</span>
											</li>

											<li data-step="4">
												<span class="step">4</span>
												<span class="title">维护信息</span>
											</li>

											
										</ul>
									</div>

									<hr />

									<div class="step-content pos-rel">
										<form class="form-horizontal" method="POST" id="assetForm">
											<input name="owner" type='text' value="{{request.session.user_id}}" hidden>
											<div class="step-pane active" data-step="1">
												<div class="form-group">
													<label class="col-xs-12 col-sm-3 control-label no-padding-right">应用ID</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="" class="form-control">
														</span>
													</div>
						
												</div>
												<div class="form-group">
													<label class="col-xs-12 col-sm-3 control-label no-padding-right">应用描述</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="" class="form-control">
														</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-xs-12 col-sm-3 control-label no-padding-right">服务端口</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="" class="form-control" placeholder="不是必须，备注作用">
														</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-xs-12 col-sm-3 control-label no-padding-right">程序包来源</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<select class="form-control" onchange="selectPackSource(this.options[this.options.selectedIndex].value);">
																<option value="local">本地上传</option>
																<option value="download">服务器下载</option>
																<option value="build">持续集成</option>
															</select>
														</span>
													</div>
												</div>
												<div id="download">
													<div class="form-group">
														<label class="col-xs-12 col-sm-3 control-label no-padding-right">下载URL</label>
														<div class="col-xs-12 col-sm-6">
															<span class="block input-icon input-icon-right">
																<input type="" name="" class="form-control" placeholder="ftp://192.168.10.1/package/web.tar">
															</span>
														</div>
													</div>
													<div class="form-group">
														<label class="col-xs-12 col-sm-3 control-label no-padding-right">下载用户名</label>
														<div class="col-xs-12 col-sm-6">
															<span class="block input-icon input-icon-right">
																<input type="" name="" class="form-control">
															</span>
														</div>
													</div>
													<div class="form-group">
														<label class="col-xs-12 col-sm-3 control-label no-padding-right">下载密码</label>
														<div class="col-xs-12 col-sm-6">
															<span class="block input-icon input-icon-right">
																<input type="" name="" class="form-control">
															</span>
														</div>
													</div>
												</div>
												<div id="build">
													<div class="form-group">
														<label class="col-xs-12 col-sm-3 control-label no-padding-right">仓库地址</label>
														<div class="col-xs-12 col-sm-6">
															<span class="block input-icon input-icon-right">
																<input type="" name="" class="form-control">
															</span>
														</div>
													</div>
													<div class="form-group">
														<label class="col-xs-12 col-sm-3 control-label no-padding-right">构建方式</label>
														<div class="col-xs-12 col-sm-6">
															<span class="block input-icon input-icon-right">
																<select class="form-control" onchange="selectBuild(this.options[this.options.selectedIndex].value);">
																	<option>git手动构建</option>
																	<option value="jenkins">jenkins构建</option>
																</select>
															</span>
														</div>
													</div>
												</div>
												<div id="jenkins">
													<div class="form-group">
														<label class="col-xs-12 col-sm-3 control-label no-padding-right">下载密码</label>
														<div class="col-xs-12 col-sm-6">
															<span class="block input-icon input-icon-right">
																<input type="" name="" class="form-control">
															</span>
														</div>
													</div>
												</div>
												<div class="form-group">
													<label class="col-xs-12 col-sm-3 control-label no-padding-right">语言类型</label>
													<div class="col-xs-12 col-sm-4">
														<label class="control-label no-padding-right" onclick="LanguageType('yes')">
															<input type="radio" name="compile" class="ace ace-radio" checked="">
															<span class="lbl">编译型</span>
														</label>
														<span>&nbsp;&nbsp;</span>
														<label class="control-label no-padding-right" onclick="LanguageType('no')">
															<input type="radio" name="compile" class="ace ace-radio">
															<span class="lbl">非编译型</span>
														</label>
													</div>
												</div>
												<div id="compile">
													<div class="form-group">
														<label class="col-xs-12 col-sm-3 control-label no-padding-right">编译命令</label>
														<div class="col-xs-12 col-sm-6">
															<div class="widget-box">
																<div class="widget-body">
																	<div class="widget-main no-padding">
																		<div class="wysiwyg-editor" id="editor2" style="height: 100px;" contenteditable="true"></div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
							
											</div>

											<div class="step-pane" data-step="2" id="base-info">
												<div class="form-group">
													<label class="col-xs-12 col-sm-3 control-label no-padding-right">目标机器</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<select multiple=""  class="select2 width-400" data-placeholder="选择部署主机...">
																<option value="192.168.10.1">192.168.10.1</option>
																<option value="192.168.10.2">192.168.10.2</option>
																<option value="192.168.10.3">192.168.10.3</option>
															</select>
														</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-xs-12 col-sm-3 control-label no-padding-right">版本目录</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="" class="form-control">
														</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-xs-12 col-sm-3 control-label no-padding-right">版本保留数</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="" class="form-control">
														</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-xs-12 col-sm-3 control-label no-padding-right">部署目录</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="" class="form-control">
														</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-xs-12 col-sm-3 control-label no-padding-right">完整日志文件名</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="" class="form-control">
														</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-xs-12 col-sm-3 control-label no-padding-right">运行用户</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="" class="form-control">
														</span>
													</div>
												</div>
												
											</div>

											<div class="step-pane" data-step="3">
												<div class="col-sm-4">
													<span>部署排除文件(<i class="orange">发布主机上进行</i>)</span>
													<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="打包好的程序不支持,排除文件一行一条,支持正则"></i>
													<div class="widget-box widget-color-green">
											
														<div class="widget-body">
															<div class="widget-main no-padding">
																<div class="wysiwyg-editor" id="editor2" style="height: 100px;" contenteditable="true"></div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-4">
													<span>软件包分发前任务(<i class="orange">发布主机上进行</i>)</span>
													<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="环境适配,配置文件修改"></i>
													<div class="widget-box widget-color-green">
											
														<div class="widget-body">
															<div class="widget-main no-padding">
																<div class="wysiwyg-editor" id="editor2" style="height: 100px;" contenteditable="true"></div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-4">
													<span>软件包分发后任务(<i class="blue">部署主机上进行</i>)</span>
													<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="包解压，服务启停"></i>
													<div class="widget-box widget-color-green">
											
														<div class="widget-body">
															<div class="widget-main no-padding">
																<div class="wysiwyg-editor" id="editor2" style="height: 100px;" contenteditable="true"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="step-pane" data-step="4">
												<div class="form-group">
													<label class="col-xs-12 col-sm-3 control-label no-padding-right">应用厂商</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="" class="form-control">
														</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-xs-12 col-sm-3 control-label no-padding-right">应用负责人</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="" class="form-control">
														</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-xs-12 col-sm-3 control-label no-padding-right">联系电话</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="" class="form-control">
														</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-xs-12 col-sm-3 control-label no-padding-right">邮箱地址</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="" class="form-control">
														</span>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>

								<hr />
								<div class="wizard-actions center">
									<button class="btn btn-prev">
										<i class="ace-icon fa fa-arrow-left"></i>
										上一步
									</button>

									<button class="btn btn-success btn-next" data-last="完成">
										下一步
										<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
									</button>
								</div>
							</div><!-- /.widget-main -->
						</div><!-- /.widget-body -->
					</div>
					
				  
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->
{% endblock %}
{% block js %}
<script type="text/javascript">
	if('ontouchstart' in document.documentElement) document.write("<script src='/static/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>


<!-- page specific plugin scripts -->
<script src="/static/assets/js/wizard.min.js"></script>
<script src="/static/assets/js/jquery.validate.min.js"></script>
<script src="/static/assets/js/jquery-additional-methods.min.js"></script>
<script src="/static/assets/js/bootbox.js"></script>

<script src="/static/assets/js/select2.min.js"></script>
<script src="/static/assets/js/bootstrap-multiselect.min.js"></script>
<script type="text/javascript" >
//select2
$('.select2').css('width','100%').select2({allowClear:false})
$('#select2-multiple-style .btn').on('click', function(e){
	var target = $(this).find('input[type=radio]');
	var which = parseInt(target.val());
	if(which == 2) $('.select2').addClass('tag-input-style');
	 else $('.select2').removeClass('tag-input-style');
});

//////////////////
$('.multiselect').multiselect({
 enableFiltering: true,
 enableHTML: true,
 buttonClass: 'btn btn-white btn-primary',
 templates: {
	button: '<button type="button" class="multiselect dropdown-toggle" data-toggle="dropdown"><span class="multiselect-selected-text"></span> &nbsp;<b class="fa fa-caret-down"></b></button>',
	ul: '<ul class="multiselect-container dropdown-menu"></ul>',
	filter: '<li class="multiselect-item filter"><div class="input-group"><span class="input-group-addon"><i class="fa fa-search"></i></span><input class="form-control multiselect-search" type="text"></div></li>',
	filterClearBtn: '<span class="input-group-btn"><button class="btn btn-default btn-white btn-grey multiselect-clear-filter" type="button"><i class="fa fa-times-circle red2"></i></button></span>',
	li: '<li><a tabindex="0"><label></label></a></li>',
	divider: '<li class="multiselect-item divider"></li>',
	liGroup: '<li class="multiselect-item multiselect-group"><label></label></li>'
 }
});

<!-- inline scripts related to this page -->
	jQuery(function($) {
		var $validation = false;
		$('#fuelux-wizard-container')
		.ace_wizard({
			//step: 2 //optional argument. wizard will jump to step "2" at first
			//buttons: '.wizard-actions:eq(0)'
		})
		//.on('changed.fu.wizard', function() {
		//})
		.on('finished.fu.wizard', function(e) {
			bootbox.dialog({
				title: "添加应用",
				message: "是否确定添加应用？", 
				buttons: {
					"success" : {
						"label" : "确定",
						"className" : "btn-sm btn-primary",
						"callback": function(){
							$("#assetForm").submit();
						}
					},
					"cancel": {
						"label": "取消",
						"className": "btn-sm btn-default"
					}
				}
			});
		}).on('stepclick.fu.wizard', function(e){
			//e.preventDefault();//this will prevent clicking and selecting steps
		});	
	})

function selectPackSource(v){
	console.log(v);
	if(v == "download"){
		$("#download").css("display","block");
		$("#build").css("display","none");
	}else if(v == "build"){
		$("#download").css("display","none");
		$("#build").css("display","block");
	}else{
		$("#download").css("display","none");
		$("#build").css("display","none");
	}
}
function LanguageType(t){
	if(t == "yes"){
		$("#compile").css("display","block");
	}else{
		$("#compile").css("display","none");
	}
}
function selectBuild(v){
	if(t == "jenkins"){
		$("#jenkins").css("display","block");
	}else{
		$("#jenkins").css("display","none");
	}
}
$(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>
{% endblock %}
