{% extends "base/base.html" %}
{% block css %}
<!-- custom css -->
<link rel="stylesheet" href="/static/css/task.css" />
{% endblock %}
{% block main %}
<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="{% url 'dashboard' %}">Home</a>
				</li>

				<li>
					作业中心
				</li>
				<li class="active">脚本执行</li>
			</ul><!-- /.breadcrumb -->

			
		</div>

		<div class="page-content">

			<div class="row">
				<div class="col-xs-12">
				
					<div class="row">
						<div class="col-xs-12">
							

							<div class="clearfix">
								<a href="{% url 'ScriptAdd' %}"><button class="btn btn-xs btn-info">新建脚本</button></a>
								<div class="pull-right tableTools-container"></div>
							</div>
							

							<!-- div.table-responsive -->

							<!-- div.dataTables_borderWrap -->
							<div>
								<table id="dynamic-table" class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>ID</th>
											<th>脚本名称</th>
											<th>类型</th>
											<th>脚本来源</th>
											<th>保存文件</th>
											<th>创建人</th>
											<th>
												<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
												创建时间
											</th>
											<th>执行次数</th>
											<th></th>
										</tr>
									</thead>

									<tbody>
										{% for script in scripts %}
										<tr>
											<td>{{script.id}}</td>
											<td>{{script.name}}</td>
											<td>{{script.get_script_type_display }}</td>
											<td>{{script.get_script_from_display }}</td>
											<td>{{script.script_file}}</td>
											<td>{{script.owner}}</td>
											<td>{{script.create_time|date:"Y-m-d H:i:s"}}</td>
											<td><span class="badge badge-warning">{{script.total_run_count}}</span></td>
											<td>
												<div class="action-buttons">
													<a class="green" href="#" onclick="setTaskId(this)">
														<i class="fa fa-telegram bigger-130" title="执行" data-toggle="modal" data-target="#mydisplay"></i>
													</a>
													<a class="green" href="#" onclick="copyScript(this);">
														<i class="fa fa-files-o bigger-130" title="复制" data-toggle="modal" data-target="#mycopy"></i>
													</a>
													<a class="blue" href="{% url 'ScriptUpdate' pk=script.id %}">
														<i class="ace-icon fa fa-pencil bigger-130" title="编辑"></i>
													</a>
													<a class="red" href="#" onclick="delScript(this);">
														<i class="ace-icon fa fa-trash-o bigger-130" title="删除" data-toggle="modal" data-target="#mydelete"></i>
													</a>
												</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- PAGE CONTENT ENDS -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.page-content -->
		<!-- 脚本删除模态框 -->
		<div class="modal fade" id="mydelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4>
							<span>确认窗口</span>
						</h4>
					</div>
					<div class="modal-body">
						<div style="padding-left:80px;">
							<label>是否删除脚本: <span style="font-size:18px;font-weight:700;" id="del_name"></span> ?</label>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal" onclick="delScriptAck();">删除</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>

		<!-- 服务器显示模态框（Modal） -->
		<div class="modal fade" id="mydisplay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<div class="col-xs-12 col-sm-5">
							<span class="block input-icon input-icon-right">
								<button type="button" class="btn btn-sm btn-primary">
									<i class="fa fa-television" aria-hidden="true"></i> 选择服务器
								</button>
							</span>
						</div>
						<div class="col-xs-12 col-sm-3">
							<span class="block input-icon input-icon-right">
								<div style="margin-top:6px;">
								已选 <span class="badge badge-warning" id="checked-num">0</span> 台
								</div>
							</span>
						</div>
						<div class="col-xs-12 col-sm-3">
							<span class="block input-icon input-icon-right">
								<div style="margin-top:6px;">
								共 <span class="badge badge-info">{{total_host_count}}</span> 台
								</div>
							</span>
						</div>
					</div>
					<div class="modal-body">
						<div class="input-group">
							<span class="input-group-btn">
								<input type="text" class="form-control search-query" id="hostFilter" placeholder="通过IP过滤搜索" />
							</span>
						</div>
						<div class="space-4"></div>
						<div>
							<table class="table" id="table">
								<tr>
									<th><input type="checkbox" onclick="allChecked(this);" /></th>
									<th>主机名</th>
									<th>状态</th>
									<th>帐号</th>
									<th>IP</th>
								</tr>
								{% for host in hosts %}
								<tr class="tr-select-modal">
									<td><input type="checkbox" onclick="oneChecked(this);"/></td>
									<td>{{ host.hostname }}</td>
									{% ifequal host.host_status 1 %}
									<td><span class="label label-sm label-success">在线</span></td>
									{% else %}
									<td><span class="label label-sm label-danger">离线</span></td>
									{% endifequal %}
									<td>
										<select name="accounts" style="width:80px;">
											<option selected="selected">root</option>
											{% for account in host.accounts %}
											<option>{{account.account}}</option>
											{% endfor %}
										</select>
									</td>
									<td>{{host.private_ip}}</td>
								</tr>
								{% endfor %}
							</table>
						</div>
					</div>
					<div class="modal-footer">
						<div class="center">
							<button type="button" class="btn btn-success" data-dismiss="modal" onclick="executeButton();">
								<i class="fa fa-telegram bigger-130">执行</i>
							</button>
						</div>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>
		<!-- 脚本复制模态框 -->
		<div class="modal fade" id="mycopy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4>
							<span>复制窗口</span>
						</h4>
					</div>
					<div class="modal-body">
						<div style="padding-left:80px;">
							<label>原脚本名: <input type="text" name="old_name" readonly=""></label>
							<label>新脚本名: <input type="text" name="new_name"></label>
						</div>
						<div style="padding-left:80px;">
							<strong id="copyFailMsg" style="color: red;"></strong>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="copyScriptAck();">确定</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>
	</div>
	</div><!-- /.main-content -->
{% endblock %}

{% block js %}
<!-- page specific plugin scripts -->
<script src="/static/js/jquery.easysearch.js"></script>

<script src="/static/assets/js/jquery.dataTables.min.js"></script>
<script src="/static/assets/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="/static/assets/js/dataTables.buttons.min.js"></script>
<script src="/static/assets/js/buttons.flash.min.js"></script>
<script src="/static/assets/js/buttons.html5.min.js"></script>
<script src="/static/assets/js/buttons.print.min.js"></script>
<script src="/static/assets/js/buttons.colVis.min.js"></script>
<script src="/static/assets/js/dataTables.select.min.js"></script>
<script src="/static/js/dynamic-table.js"></script>
<script type="text/javascript">
//clean all input[type='checkbox'] checked attribute after page refresh
$("input[type='checkbox']").removeAttr('checked','true');

// get script id
function setTaskId(obj){
	script_id = $(obj).parent().parent().siblings().eq(0).text();
}

function delScript(obj){
	host_id = $($(obj).parent().parent()).siblings().eq(0).text();
	var host_name = $($(obj).parent().parent()).siblings().eq(1).text();
	$("#del_name").text(host_name);
};
function delScriptAck(){
	$.ajax({
		type: "POST",
		url: "/script/delete/"+host_id,
		data: {"pk":host_id},
		success: function(){
			window.location.reload();
			}
	});
};

function copyScript(obj){
	script_id = $(obj).parent().parent().siblings().eq(0).text();
	var script_name = $(obj).parent().parent().siblings().eq(1).text();
	$("input[name='old_name']").val(script_name);
}

function copyScriptAck(){
	var new_script_name= $("input[name='new_name']").val();
	$.ajax({
		type: "POST",
		url: "/script/add/copy/",
		data: {"script_id":script_id,"new_script_name":new_script_name},
		success: function(data){
			if(data['status'] == 200){
				window.location.reload();
			}else{
				$("#copyFailMsg").text(data["err_msg"]);
			}
			
		}
	});
}

dynamicTable($);

//使用easysearch 进行主机过滤
$('#hostFilter').jSearch({ 
    selector  : '#table',
    child : 'tr > td',
    minValLength: 0,
    Before: function(){
        $('#table tr').data('find','');
    },
    Found : function(elem){
        $(elem).parent().data('find','true');
        $(elem).parent().show();
    },
    NotFound : function(elem){
        if (!$(elem).parent().data('find'));
        $(elem).parent().hide();
    },
    After : function(t){
        if (!t.val().length) $('#table tr').show();
    }
});

//服务器全选，取消全选
//备注：easysearch过滤的原理是使不匹配的元素不可见，所有在全选时需要先过滤掉不可见的元素
function allChecked(obj){
	if($(obj).is(':checked')){
		var visible_tr = $(".tr-select-modal:visible");
		for(var i=0;i<visible_tr.length;i++){
			$(visible_tr[i]).find("input[type='checkbox']").prop('checked','true');
		}
		$("#checked-num").text(visible_tr.length);
	}else{
		$(obj).find("input[type='checkbox']").removeAttr('checked','true');
		$(".tr-select-modal input[type='checkbox']").removeAttr("checked");
		$("#checked-num").text(0);
	}
}

//单个服务器选择
function oneChecked(obj){
	if($(obj).is(':checked')){
		$("#checked-num").text(parseInt($("#checked-num").text())+1);
	}else{
		$(obj).find("input[type='checkbox']").removeAttr('checked','true');
		$("#checked-num").text(parseInt($("#checked-num").text())-1);
	}
}

//get the checked host, push into checked_host_array
function getHostAccount(){
	var checked_host_str = ''
	var checked = $(".tr-select-modal:visible input[type='checkbox']:checked");
	for(var i=0;i<checked.length;i++){
		tds_obj = $(checked[i]).parent().siblings();
		var ip = $(tds_obj).eq(3).text();
		var accountObj = $(tds_obj).eq(2);
		var account = $(accountObj).children("select").find('option:selected').text();
		checked_host_str = checked_host_str+ip+':'+account+',';
	}
	return checked_host_str;
}

// submit  execute action to the '/script/execute/' url by  post method
function executeButton(){
	checked_host_str = getHostAccount();
	if(checked_host_str==''){
		alert('请选择服务器!');
		return;
	}
	$.ajax({
		type: 'POST',
		url: '/script/execute/',
		data: {'id':script_id,'checked_host_array':checked_host_str},
		success: function(data){
			location.href='/script/execute/result/?task_id='+data['task_id']+'&task_total='+data['task_total'];
		}
	})
}
	
</script>
{% endblock %}