{% extends "base/base.html" %}

{% block css %}

<!-- custom css -->
<link rel="stylesheet" href="/static/css/task.css" />

{% endblock %}

{% block main %}
<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="{% url 'dashboard' %}">Home</a>
				</li>
				<li>
					作业中心
				</li>
				<li><a href="{% url 'ScriptList' %}">脚本执行</a></li>
				<li>新建脚本</li>
			</ul><!-- /.breadcrumb -->
		</div>

		<div class="page-content">

			<div class="row">
				<div class="col-xs-12">
					
					<div class="tabbable">
						<div class="tab-content">
							<form class="form-horizontal" method="POST" enctype="multipart/form-data" id="script_form">
								<!--在middleware authentication中request.session['user_id']=request.session['_user_id'] -->
								<input name="script_owner" type='text' value="{{request.session.user_id}}" hidden>
								<div class="form-group">
									<label for="inputWarning" class="col-xs-12 col-sm-1 control-label no-padding-right">
										脚本名称<span class="red">*</span>
									</label>
									<div class="col-xs-12 col-sm-11">
										<span class="block input-icon input-icon-right">
											{{form.name}}{{form.errors.name}}
										</span>
									</div>
								</div>
								<div class="form-group">
									<label for="inputWarning" class="col-xs-12 col-sm-1 control-label no-padding-right">
										目标机器<span class="red">*</span>
									</label>
									<div class="col-xs-12 col-sm-2">
										<span class="block input-icon input-icon-right">
											<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myselect">
												<i class="fa fa-television" aria-hidden="true"></i> 选择服务器
											</button>
										</span>
									</div>
									
									<div class="col-xs-12 col-sm-2">
										<span class="block input-icon input-icon-right">
											<button type="button" class="btn btn-sm btn-danger" onclick="cleanIP();">清空IP</button>
										</span>
									</div>
									<div class="col-xs-12 col-sm-2">
										<span class="block input-icon input-icon-right">
											<div style="margin-top:6px;">
											已选 <span class="badge badge-warning" id="checked-num">0</span> 台
											</div>
										</span>
									</div>
								</div>
								<div class="form-group" id="checked-div">
									<label for="inputWarning" class="col-xs-12 col-sm-1 control-label no-padding-right"></label>
									<div class="col-xs-12 col-sm-11">
										<table class="table table-bordered">
											<tr>
												<th>主机名</th>
												<th>状态</th>
												<th>帐号</th>
												<th>IP</th>
												<th>操作</th>
											</tr>
											<tbody id="checked-tbody">
											</tbody>
										</table>
									</div>
								</div>
								<div class="form-group">
									<label for="inputError2" class="col-xs-12 col-sm-1 control-label no-padding-right">
										脚本来源<span class="red">*</span>
									</label>
									<input type="text" name="script_from" value=1 hidden />
									<div class="col-xs-12 col-sm-4">
										<label class="control-label no-padding-right" onclick="scriptSource('manually')">
											<input type="radio" name="scriptFrom" class="ace ace-radio" checked />
											<span class="lbl">手工录入</span>
										</label>
										<span>&nbsp;&nbsp;</span>
										<label class="control-label no-padding-right" onclick="scriptSource('local')">
											<input type="radio" name="scriptFrom" class="ace ace-radio" />
											<span class="lbl">本地脚本</span>
										</label>
										<span>&nbsp;&nbsp;</span>
										<label class="control-label no-padding-right" onclick="scriptSource('saved')">
											<input type="radio" name="scriptFrom" class="ace ace-radio" />
											<span class="lbl">已有脚本</span>
										</label>
									</div>
								</div>
								<div class="form-group" id="local-script">
									<label for="inputWarning" class="col-xs-12 col-sm-1 control-label no-padding-right">本地脚本</label>
									<div class="col-xs-12 col-sm-2">
										<span class="block input-icon input-icon-right">
											<input type="file" id="FileSelect" name="script_file">
										</span>
									</div>
									<div class="col-xs-12 col-sm-2">
										<span class="block input-icon input-icon-right">
											<button class="btn btn-xs " type="button" onclick="loadFileContent('local');">加载内容</button>
										</span>
									</div>
								</div>
								<div class="form-group" id="saved-script">
									<label for="inputWarning" class="col-xs-12 col-sm-1 control-label no-padding-right">已有脚本</label>
									<div class="col-xs-12 col-sm-3">
										<select class="form-control" name="haved_script">
											{% for script in scripts %}
											<option value="{{script.id}}">{{script.name}}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-xs-12 col-sm-1">
										<span class="block input-icon input-icon-right">
											<button class="btn btn-xs " type="button" onclick="loadFileContent('saved');">加载内容</button>
										</span>
									</div>
									<div class="col-xs-12 col-sm-5">
										<span class="red err-msg"></span>
									</div>
								</div>
								<div class="form-group" id="manually-enter">
									<label for="inputWarning" class="col-xs-12 col-sm-1 control-label no-padding-right">
										脚本内容<span class="red">*</span>
									</label>
									<input type="text" name="script_type" value=1 hidden />
									<div class="col-xs-12 col-sm-11" id="writeScript">
										<div class="widget-box">
											<div class="widget-header">
												<label class="control-label no-padding-right">
													<input type="radio" name="Language" class="ace ace-radio" id="shell" checked onclick="scriptTypeCheck('sh');" />
													<span class="lbl">Shell</span>
												</label>
												<span>&nbsp;&nbsp;</span>
												<label class="control-label no-padding-right">
													<input type="radio" name="Language" class="ace ace-radio" id='python' onclick="scriptTypeCheck('py');" />
													<span class="lbl">Python</span>
												</label>
												<span>&nbsp;&nbsp;</span>
												<label class="control-label no-padding-right">
													<input type="radio" name="Language" class="ace ace-radio" id="perl" onclick="scriptTypeCheck('pl');" />
													<span class="lbl">Perl</span>
												</label>
											</div>
											<div class="widget-body">
												<textarea name="script_content" hidden></textarea>
												<div class="widget-main">
													<div id="compile-editor" class="ace_editor" style="min-height:150px"></div> 
												</div>
											</div>
										</div>
										
									</div>
								</div>
								
								<div class="center">
									<input type="text" name="action_type" hidden />
									<button class="btn btn-sm btn-primary" type="button" onclick="formSubmitAction('save');"><i class="fa fa-floppy-o"></i>保存</button>
									<button class="btn btn-sm btn-success" type="button" onclick="formSubmitAction('execute');"><i class="glyphicon glyphicon-cog"></i>执行</button>
								</div>
							</form>
						</div>
						<div class="center">
							<i id="switchDisplay" class="fa fa-angle-double-up fa-lg" title="隐藏脚本输入框" onclick="foldScriptEnter();"></i>
						</div>
						
					</div>
					
					
						
					<div >
						<div class="widget-box">
							<div class="widget-header">
								<div class="col-sm-1">
									<h4 class="smaller" style="color:blue;">
									执行结果
									</h4>
								</div>
								<div class="col-sm-6" id="progressbar-div">
									<div id="progressbar" style="margin-top:7px;"></div>
								</div>
								<div class="col-sm-5">
									<h4 class="smaller">
									<span class="badge badge-purple">任务ID:<span id="task_id">N/A</span></span>
									<span class="badge badge-info">总任务:<span id="total">N/A</span></span>
									<span class="badge badge-success">成功:<span id="success">N/A</span></span>
									<span class="badge badge-danger">失败:<span id="failure">N/A</span></span>
									<span class="badge badge-inverse" style="cursor:pointer;" onclick="foldAllResult(this);">
										展开/折叠<i class="glyphicon glyphicon-chevron-left"></i>
									</span>
									</h4>
								</div>
								
							</div>

							<div class="widget-body">
								<div class="widget-main" id="result-display" style="padding-left:25px;">
								</div>
							</div>
						</div>
					</div><!-- /.col -->
				  
				</div><!-- /.col -->
			</div><!-- /.row -->
			
			<!-- 服务器选择模态框（Modal） -->
			<div class="modal fade" id="myselect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<div><h4>选择服务器 - 共 <span style="font-weight:700;">{{total_host_count}}</span> 台</h4></div>
						</div>
						<div class="modal-body">
							<div class="input-group">
								<span class="input-group-btn">
									<input type="text" class="form-control search-query" id="hostFilter" placeholder="通过IP过滤搜索" />
								</span>
							</div>
							<div class="space-4"></div>
							<div>
								<table class="table" id="table">
									<tr>
										<th><input type="checkbox" onclick="allChecked(this);" /></th>
										<th>主机名</th>
										<th>状态</th>
										<th>帐号</th>
										<th>IP</th>
									</tr>
									{% for host in hosts %}
									<tr class="tr-select-modal">
										<td><input type="checkbox" /></td>
										<td>{{ host.hostname }}</td>
										{% ifequal host.host_status 1 %}
										<td><span class="label label-sm label-success">在线</span></td>
										{% else %}
										<td><span class="label label-sm label-danger">离线</span></td>
										{% endifequal %}
										<td>
											<select name="accounts" style="width:80px;">
												{% for account in host.accounts %}
												<option>{{account.account}}</option>
												{% endfor %}
											</select>
										</td>
										<td>{{host.private_ip}}</td>
									</tr>
									{% endfor %}
								</table>
							</div>
						</div>
						<div class="modal-footer">
							<div class="center">
								<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addHost();">添加</button>
							</div>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal -->
			</div>
			<!-- 服务器是否为空判断告警模态框（Modal） -->
			<div class="modal fade" id="ServerAlert" tabindex="-1" role="dialog" aria-labelledby="ServerAlert" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">警告窗口</h4>
						</div>
						<div class="modal-body center red"><h4>请选择服务器</h4></div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal -->
			</div>
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->
{% endblock %}
{% block js %}
<!-- page specific plugin scripts -->
<script src="/static/assets/js/jquery-ui.min.js"></script>
<script src="/static/ace-editor/ace.js"></script>
<script src="/static/ace-editor/ext-language_tools.js"></script>
<script src="/static/ace-editor/theme-monokai.js"></script>
<script src="/static/js/jquery.easysearch.js"></script>

<script src="/static/assets/js/jquery.dataTables.min.js"></script>
<script src="/static/assets/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="/static/assets/js/dataTables.select.min.js"></script>
<script type="text/javascript">

// 清除ace editor中所有内容
function removeAllLines(editor){
	AllLines = $(".ace_line");
	for(var i=0;i<AllLines.length;i++){
		editor.removeLines();
	}
}

// 设置ace-editor 模式
function setAceEditMode(model,content) {
	var editor = ace.edit("compile-editor");
	var langTools = ace.require("ace/ext/language_tools");
	editor.setTheme("ace/theme/monokai");
	//editor.removeLines();
	removeAllLines(editor);
	editor.insert(content);
	editor.getSession().setMode("ace/mode/" + model);
	editor.setShowPrintMargin(false);
	editor.setOptions({
	    enableBasicAutocompletion: true,
	    enableSnippets: true,
	    enableLiveAutocompletion: true
	});
};
setAceEditMode('sh','#!/bin/bash');

//使用easysearch 进行主机过滤
$('#hostFilter').jSearch({ 
    selector  : '#table',
    child : 'tr > td',
    minValLength: 0,
    Before: function(){
        $('#table tr').data('find','');
    },
    Found : function(elem){
        $(elem).parent().data('find','true');
        $(elem).parent().show();
    },
    NotFound : function(elem){
        if (!$(elem).parent().data('find'));
        $(elem).parent().hide();
    },
    After : function(t){
        if (!t.val().length) $('#table tr').show();
    }
});

//服务器全选，取消全选
//备注：easysearch过滤的原理是使不匹配的元素不可见，所有在全选时需要先过滤掉不可见的元素
function allChecked(obj){
	if($(obj).is(':checked')){
		var visible_tr = $(".tr-select-modal:visible");
		for(var i=0;i<visible_tr.length;i++){
			$(visible_tr[i]).find("input[type='checkbox']").prop('checked','true');
		}
	}else{
		$(obj).find("input[type='checkbox']").removeAttr('checked','true');
		$(".tr-select-modal input[type='checkbox']").removeAttr("checked");
	}
	
}

// 添加已选择服务器并从待选列表删除
function addHost(){
	var checked = $(".tr-select-modal:visible input[type='checkbox']:checked");
	var currentobj = $("#checked-tbody").children().length;
	$("#checked-num").text(checked.length+currentobj);
	for(var i=0;i<checked.length;i++){
		var checkTempObj = $($(checked[i]).parent().parent()).clone();
		$(checkTempObj).children().eq(0).remove();
		var del_txt="<td id='delButton' onclick='delChecked(this);'>删除</td>";
		$(checkTempObj).append(del_txt);
		$(checkTempObj).appendTo("#checked-tbody");
		$("#checked-div").css('display','block');
		$(checked[i]).parent().parent().remove();
	}
	$("tbody input[type='checkbox']").removeAttr("checked");
}

//根据数组值删除元素
function removeByValue(arr,val){
	for(var i=0;i<arr.length;i++){
		if(arr[i]==val){
			arr.splice(i,1);
			break;
		}
	}
}

// 删除已选择服务器并重新添加到待选列表
function delChecked(obj){
	var delTempObj = $(obj).parent().clone();
	var check_txt="<td><input type='checkbox' /></td>";
	$(delTempObj).children().eq(-1).remove();
	$(delTempObj).prepend(check_txt);
	$(delTempObj).appendTo("#table");
	$(obj).parent().remove();
	
	var checkedObj = ($("#checked-tbody").children());
	if(checkedObj.length==0){
		$("#checked-div").css('display','none');
		$("#checked-num").text(0);
	}else{
		$("#checked-num").text(checkedObj.length);
	}
}

//删除所有已选择服务器
function cleanIP(){
	var checkedObj = ($("#checked-tbody").children());
	$("#checked-num").text(0);
	for(var i=0;i<checkedObj.length;i++){
		delChecked($(checkedObj[i]).children().eq(0));
	}
	$(checkedObj).remove();
	$("#checked-div").css('display','none');
	
}

//选择脚本来源并设置input[name='script_from'] 值
function scriptSource(type){
	if(type=='local'){
		$("#local-script").css('display','block');
		$("#saved-script").css('display','none');
		$("input[name='script_from']").val(2);
	}else if(type=='saved'){
		$("#local-script").css('display','none');
		$("#saved-script").css('display','block');
		$("input[name='script_from']").val(3);
	}else{
		$("#local-script").css('display','none');
		$("#saved-script").css('display','none');
		$("input[name='script_from']").val(1);
	}
}

//加载脚本内容
function loadFileContent(type){
	if(type=='local'){
		var fileSelector = $("#FileSelect")[0].files;
		var file = fileSelector[0];
		var reader = new FileReader();
		var file_suffix = (file.name).split('.')[1];
		var script_type = scriptTypeCheck(file_suffix);
		reader.onload = function(){
			setAceEditMode(script_type,this.result);
		};
		reader.readAsText(file);
	}else if(type=='saved'){
		var haved_script_id = $("select[name='haved_script']").val();
		$.ajax({
			type:'POST',
			url: '/script/add/content/',
			data:{'haved_script_id':haved_script_id},
			success: function(data){
				if(data['status']){
					if(data['script_type']==1){
						var script_type = scriptTypeCheck('sh');
					}else if(data['script_type']==2){
						var script_type = scriptTypeCheck('py');	
					}else if(data['script_type']==3){
						var script_type = scriptTypeCheck('pl');
					}
					setAceEditMode(script_type,data['contents']);
				}else{
					$(".err-msg").text(''+data['msg']);
				}
				
			}
		})
	}
}

//设置脚本类型选择按钮
function scriptTypeCheck(type){
	if(type=='py'){
		$("#shell").removeAttr('checked');
		$("#python").prop('checked','true');
		$("#perl").removeAttr('checked');
		setAceEditMode('python','#!/usr/bin/env python');
		$("input[name='script_type']").val(2);
		return 'python'
	}else if(type=='pl'){
		$("#shell").removeAttr('checked');
		$("#python").removeAttr('checked');
		$("#perl").prop('checked','true');
		setAceEditMode('perl','#!/usr/bin/perl');
		$("input[name='script_type']").val(3);
		return 'perl'
	}else{
		$("#shell").prop('checked','true');
		$("#python").removeAttr('checked');
		$("#perl").removeAttr('checked');
		setAceEditMode('sh','#!/bin/bash');
		$("input[name='script_type']").val(1);
		return 'sh'
	}
}

//获取已选择的服务器IP和帐号,格式IP:Acount,IP:Acount
function getHostAccount(){
	var checkedHostObj = $("#checked-tbody").children();
	for(var i=0;i<checkedHostObj.length;i++){
		var ip = $(checkedHostObj[i]).children().eq(3).text();
		var accountObj = $(checkedHostObj[i]).children().eq(2);
		var account = $(accountObj).children("select").find('option:selected').text();
		checked_host_array.push(ip+':'+account);
	}
}

//脚本保存，执行
function formSubmitAction(type){
	$("input[name='action_type']").val(type);
	var editor = ace.edit("compile-editor");
	var contents = editor.getSession().getValue();
	$("textarea[name='script_content']").text(contents);
	var task_name = $("input[name='name']").val();
	if(task_name == ''){
		alert('填写任务名');
		return;
	}
	if(type=='save'){
		$("#script_form").submit();
	}else if(type=='execute'){
		checked_host_array = new Array();
		getHostAccount();//获取已选择的服务器IP和帐号
		$("#result-display").children().remove();//执行前先移除已有结果
		if(checked_host_array.length==0){
			$("#ServerAlert").modal({
				show: true,
				backdrop:'static'
			})
		}else{
			$("#progressbar-div").css('display','block');//显示进度条
			var script_form_str = $('#script_form').serialize()+'&checked_host_array='+checked_host_array;
			ScriptExecuteProgressBar(50);
			$.ajax({
				type: 'POST',
				url: '/script/add/',
				data:script_form_str,
				success:function(data){
					ScriptExecuteProgressBar(100);
					var success_num = data['ok'].length;
					var failure_num = data['failed'].length;
					var allResult = data['ok'].concat(data['failed']);
					$("#task_id").text(data['task_id']);
					$("#total").text(success_num+failure_num);
					$("#success").text(success_num);
					$("#failure").text(failure_num);
					for(var i=0;i<allResult.length;i++){
						if(allResult[i]['status']=='ok'){
							status_msg = '<span class="badge badge-success">成功</span>';
						}else{
							status_msg = '<span class="badge badge-danger">失败</span>';
						}
						one_item ='<div>\
										<p>\
											<i class="oneResult fa fa-angle-double-right" onclick="foldOneResult(this);"></i>\
											<span style="font-weight:700;">'+allResult[i].host+'</span> |\
											<span>'+allResult[i].start_time+'</span> |\
											'+status_msg+'\
										</p>\
										<pre class="resultData">'+allResult[i].data+'</pre>\
									</div>'
						$("#result-display").append(one_item);
					}
				}
			})
		}
	}
	
	
}

//折叠脚本输入区域
function foldScriptEnter(){
	if($(".tab-content").css('display')=='none'){
		$(".tab-content").css('display','block');
		$("#switchDisplay").removeClass('fa-angle-double-down');
		$("#switchDisplay").addClass('fa-angle-double-up');
		$("#switchDisplay").attr('title','隐藏脚本输入框')
	}else{
		$(".tab-content").css('display','none');
		$("#switchDisplay").removeClass('fa-angle-double-up');
		$("#switchDisplay").addClass('fa-angle-double-down');
		$("#switchDisplay").attr('title','展开脚本输入框')
	}
}

//脚本执行进度条
function ScriptExecuteProgressBar(proVal){
	$( "#progressbar" ).progressbar({
		value: proVal,
		create: function( event, ui ) {
			$(this).addClass('progress progress-striped active')
				   .children(0).addClass('progress-bar progress-bar-success');
		}
	});
	$(".ui-progressbar-value").text(proVal+'%');
}

//折叠/展开所有结果详情
function foldAllResult(obj){
	classStr = $(obj).children().attr('class');
	if(classStr.indexOf("glyphicon-chevron-left") !=-1){
		$(obj).children().removeClass('glyphicon-chevron-left');
		$(obj).children().addClass('glyphicon-chevron-down');
		$(".oneResult").removeClass('fa-angle-double-right');
		$(".oneResult").addClass('fa-angle-double-down');
		$(".resultData").css('display','block');
	}else{
		$(obj).children().removeClass('glyphicon-chevron-down');
		$(obj).children().addClass('glyphicon-chevron-left');
		$(".oneResult").removeClass('fa-angle-double-down');
		$(".oneResult").addClass('fa-angle-double-right');
		$(".resultData").css('display','none');
	}
}

//折叠/展开单个结果详情
function foldOneResult(obj){
	classStr = $(obj).attr('class');
	if(classStr.indexOf("fa-angle-double-right") !=-1){
		$(obj).removeClass('fa-angle-double-right');
		$(obj).addClass('fa-angle-double-down');
		$(obj).parent().next().css('display','block');
	}else{
		$(obj).removeClass('fa-angle-double-down');
		$(obj).addClass('fa-angle-double-right');
		$(obj).parent().next().css('display','none');
	}
}
</script>
{% endblock %}
