{% extends "base/base.html" %}
{% block css %}
<style>
.bullhorn{
	background-color:#d6e9c6;
	padding:5px;
	margin-bottom:20px;
}
</style>
{% endblock %}
{% block main %}
<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="#">资产概览</a>
				</li>
			</ul><!-- /.breadcrumb -->

			
		</div>

		<div class="page-content">
			<!--<div class="row">
				<div class="col-xs-12">
					<div class="bullhorn center">
						
						<i class="red fa fa-bullhorn" aria-hidden="true"></i>
						公告(站内信) :
						<marquee width="50%">
						<strong class="">
						平台将于13日23:45分进行升级 
						</strong>
						</marquee>
					</div>
				</div>
			</div> -->
			<div class="row">
				<div class="col-sm-3">
					<div id="total"></div>
				</div>
				<div class="col-sm-3">
					<div class="widget-box">
						<div class="widget-header widget-header-flat widget-header-small">
							<h5 class="widget-title">
								<i class="ace-icon fa fa-signal"></i>
								资产类型统计
							</h5>
						</div>

						<div class="widget-body">
							<div class="widget-main">
								<div id="piechart-placeholder"></div>
							</div><!-- /.widget-main -->
						</div><!-- /.widget-body -->
					</div><!-- /.widget-box -->
				</div><!-- /.col -->
				<div class="col-sm-3">
					<div class="widget-box">
						<div class="widget-header widget-header-flat widget-header-small">
							<h5 class="widget-title">
								<i class="ace-icon fa fa-signal"></i>
								Agent状态统计
							</h5>
						</div>

						<div class="widget-body">
							<div class="widget-main">
								<div id="agent"></div>
							</div><!-- /.widget-main -->
						</div><!-- /.widget-body -->
					</div><!-- /.widget-box -->
				</div><!-- /.col -->
				<div class="col-sm-3">
					<div class="widget-box">
						<div class="widget-header widget-header-flat widget-header-small">
							<h5 class="widget-title">
								<i class="ace-icon fa fa-signal"></i>
								SSH状态统计
							</h5>
						</div>

						<div class="widget-body">
							<div class="widget-main">
								<div id="ssh"></div>
							</div><!-- /.widget-main -->
						</div><!-- /.widget-body -->
					</div><!-- /.widget-box -->
				</div><!-- /.col -->
			</div>
				
			<div class="row">	
				<div class="col-xs-6">
					<div class="panel">
						<div class="widget-box">
							<div class="widget-header">
								<h4>CPU TOP 5</h4>
							</div>

							<div class="widget-body">
								<div class="widget-main">
									<table class="table">
										<tr>
											<th>主机</th>
											<th>资产类型</th>
											<th>CPU使用率</th>
										</tr>
										<tr>
											<td>192.168.10.3</td>
											<td>服务器</td>
											<td>70%</td>
										</tr>
									</table>												
								</div>
							</div>
						</div>
					</div>										
				</div>
			
				<div class="col-xs-6">
					<div class="panel">
						<div class="widget-box">
							<div class="widget-header">
								<h4>内存 TOP 5</h4>
							</div>

							<div class="widget-body">
								<div class="widget-main">
									<table class="table">
										<tr>
											<th>主机</th>
											<th>资产类型</th>
											<th>内存使用率</th>
										</tr>
										<tr>
											<td>192.168.10.3</td>
											<td>服务器</td>
											<td>70%</td>
										</tr>
									</table>											
								</div>
							</div>
						</div>
					</div>										
				</div>
		
				<div class="col-xs-6">
					<div class="panel">
						<div class="widget-box">
							<div class="widget-header">
								<h4>存储 TOP 5</h4>
							</div>

							<div class="widget-body">
								<div class="widget-main">
									<table class="table">
										<tr>
											<th>主机</th>
											<th>资产类型</th>
											<th>存储使用率</th>
										</tr>
										<tr>
											<td>192.168.10.3</td>
											<td>服务器</td>
											<td>70%</td>
										</tr>
									</table>														
								</div>
							</div>
						</div>
					</div>										
				</div>
				
				<div class="col-xs-6">
					<div class="panel">
						<div class="widget-box">
							<div class="widget-header">
								<h4>磁盘IO TOP 5</h4>
							</div>

							<div class="widget-body">
								<div class="widget-main">
									<table class="table">
										<tr>
											<th>主机</th>
											<th>资产类型</th>
											<th>磁盘IO读写/秒</th>
										</tr>
										<tr>
											<td>192.168.10.3</td>
											<td>服务器</td>
											<td>70</td>
										</tr>
									</table>													
								</div>
							</div>
						</div>
					</div>										
				</div>
				
				<div class="col-xs-12">
					<div id="task-tab" class="tab-pane active">
						<h4 class="smaller lighter green">
							<i class="ace-icon fa fa-list"></i>
							最近资产操作
						</h4>

						<ul id="tasks" class="item-list">
							<li class="item-blue clearfix">
								<label class="inline">
									<input type="checkbox" class="ace" />
									<span class="lbl"> Upgrading scripts used in template</span>
								</label>
							</li>

							<li class="item-grey clearfix">
								<label class="inline">
									<input type="checkbox" class="ace" />
									<span class="lbl"> Adding new skins</span>
								</label>
							</li>
						</ul>
					</div>
				</div>
			</div>
					
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->
{% endblock %}

{% block js %}
<script src="/static/js/echarts.min.js"></script>
<script type="text/javascript">

	function draw_total(id,width,height,barwidth){
		$('#'+id).css({'width': width , 'min-height':height});
		totalChart = echarts.init(document.getElementById(id));
		option = {
			color: ['#3398DB'],
		    tooltip: {
		        trigger: 'item',
		        formatter: "{c}"
		    },
		    
		    series: [
		        {
		            name:'访问来源',
		            type:'pie',
		            radius: ['100%', '70%'],
		            label: {
		                normal: {
		                    show: true,
		                    formatter:'{b} : {c}',
		                    position: 'center'
		                },
		            },
		            data:[
		                {value:335, name:'资产总数'},
		            ]
		        }
		    ]
		};

		totalChart.setOption(option); 
		
	}

	function draw_asset(id,width,height,barwidth){
		$('#'+id).css({'width': width , 'min-height':height});
		assetChart = echarts.init(document.getElementById(id));
		option = {
			color: ['#3398DB','#ddd'],
		    tooltip : {
		        trigger: 'axis',
		        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
		            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
		        }
		    },
		    legend: {
		        data:['已安装agent','未安装agent']
		    },
		    grid: {
		        left: '3%',
		        right: '4%',
		        bottom: '3%',
		        containLabel: true
		    },
		    xAxis : [
		        {
		            type : 'category',
		            data : ['物理机','虚拟机']
		        }
		    ],
		    yAxis : [
		        {
		            type : 'value'
		        }
		    ],
		    series : [
		        {
		            name:'已安装agent',
		            type:'bar',
		            stack: '广告',
		            data:[40, 50],
		            itemStyle: {normal: {label:{show:true}}}
		        },
		        {
		            name:'未安装agent',
		            type:'bar',
		            stack: '广告',
		            data:[60, 50],
		            itemStyle: {normal: {label:{show:true}}}
		        },
		        
		    ]
		};

		assetChart.setOption(option); 
		
	}

	function draw_agent(id,width,height,barwidth){
		$('#'+id).css({'width': width , 'min-height':height});
		agentChart = echarts.init(document.getElementById(id));
		option = {
			color: ['#00CC33','#FF3333'],
		    tooltip : {
		        trigger: 'axis',
		        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
		            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
		        }
		    },
		    legend: {
		        data:['可用agent','不可用agent']
		    },
		    grid: {
		        left: '3%',
		        right: '4%',
		        bottom: '3%',
		        containLabel: true
		    },
		    xAxis : [
		        {
		            type : 'category',
		            data : ['物理机','虚拟机']
		        }
		    ],
		    yAxis : [
		        {
		            type : 'value'
		        }
		    ],
		    series : [
		        {
		            name:'可用agent',
		            type:'bar',
		            stack: '广告',
		            data:[30, 45],
		            itemStyle: {normal: {label:{show:true}}}
		        },
		        {
		            name:'不可用agent',
		            type:'bar',
		            stack: '广告',
		            data:[10, 5],
		            itemStyle: {normal: {label:{show:true}}}
		        },
		        
		    ]
		};

		agentChart.setOption(option); 
		
	}

	function draw_ssh(id,width,height,barwidth){
		$('#'+id).css({'width': width , 'min-height':height});
		sshChart = echarts.init(document.getElementById(id));
		option = {
			color: ['#5cb85c','#D15B47'],
		    tooltip : {
		        trigger: 'axis',
		        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
		            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
		        }
		    },
		    legend: {
		        data:['可达ssh','不可达ssh']
		    },
		    grid: {
		        left: '3%',
		        right: '4%',
		        bottom: '3%',
		        containLabel: true
		    },
		    xAxis : [
		        {
		            type : 'category',
		            data : ['物理机','虚拟机']
		        }
		    ],
		    yAxis : [
		        {
		            type : 'value'
		        }
		    ],
		    series : [
		        {
		            name:'可达ssh',
		            type:'bar',
		            stack: '广告',
		            data:[40, 50],
		            itemStyle: {normal: {label:{show:true}}}
		        },
		        {
		            name:'不可达ssh',
		            type:'bar',
		            stack: '广告',
		            data:[60, 50],
		            itemStyle: {normal: {label:{show:true}}}
		        },
		        
		    ]
		};

		sshChart.setOption(option); 
		
	}
	
	$(document).ready(function(){
		draw_total('total','100%','220px','60');
		draw_asset('piechart-placeholder','100%','220px','60');
		draw_agent('agent','100%','220px','60');
		draw_ssh('ssh','100%','220px','60');
	});
	$(window).resize(function() {
		/* var width = $(".widget-main").width();
		draw_resource('piechart-placeholder',width,'180px','60'); */
		totalChart.resize();
		assetChart.resize();
		agentChart.resize();
		sshChart.resize();
	});
	
	
	
</script>
{% endblock %}