{% ifequal status 1 %}
<div class="action-buttons">
	<span class="green" id="enabled" onclick="deployCluster(this);">
		<i class="fa fa-telegram bigger-130" title="部署"></i>
	</span>
	<span class="blue" id="enabled">
		<a href="{% url 'MesosOverview' clsname=clusterName %}"><i class="fa fa-tachometer bigger-130" title="集群概览"></i></a>
	</span>
	<span class="orange" id="enabled" onclick="cleanCluster(this);">
		<i class="fa fa-eraser bigger-130" title="环境清除"></i>
	</span>
	<span class="red" id="enabled" onclick="deleteCluster(this);">
		<i class="ace-icon fa fa-trash-o bigger-130" title="删除集群"></i>
	</span>
</div>
{% endifequal %}
{% ifequal status 2 %}
<div class="action-buttons">
	<span class="light-grey" id="disabled">
		<i class="fa fa-telegram bigger-130" title="部署"></i>
	</span>
	<span class="blue" id="enabled">
		<a href="{% url 'MesosOverview' clsname=clusterName %}"><i class="fa fa-tachometer bigger-130" title="集群概览"></i></a>
	</span>
	<span class="orange" id="enabled" onclick="cleanCluster(this);">
		<i class="fa fa-eraser bigger-130" title="环境清除"></i>
	</span>
	<span class="light-grey" id="disabled">
		<i class="ace-icon fa fa-trash-o bigger-130" title="删除集群"></i>
	</span>
</div>
{% endifequal %}

{% ifequal status 4 %}
<div class="action-buttons">
	<span class="light-grey" id="disabled">
		<i class="fa fa-telegram bigger-130" title="部署"></i>
	</span>
	<span class="blue" id="enabled">
		<a href="{% url 'MesosOverview' clsname=clusterName %}"><i class="fa fa-tachometer bigger-130" title="集群概览"></i></a>
	</span>
	<span class="orange" id="enabled" onclick="cleanCluster(this);">
		<i class="fa fa-eraser bigger-130" title="环境清除"></i>
	</span>
	<span class="red" id="enabled" onclick="deleteCluster(this);">
		<i class="ace-icon fa fa-trash-o bigger-130" title="删除集群"></i>
	</span>
</div>
{% endifequal %}
