{% extends "base/base.html" %}
{% load asset %}
{% block css %}
<style>
.header {
    margin-top:0px;
}

.hostoverview{
	border: 1px solid  	#D3D3D3;
	padding-top: 5px;
}

.mounts .profile-info-name,.ethernet .profile-info-name{
	width:100%;
}

.table > tbody > tr > td{
	padding:2px;
	border-top: none;
}

.table > tbody > tr > th{
	padding:2px;
	border-top: none;
}

.pagination{
	margin: 0px;
}

.content-title {
    height: 28px;
    line-height: 28px;
    font-size: 19px;
}
.number {
    color: #666;
    border: 2px solid #666;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 32px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -2px;
}
</style>
{% endblock %}
{% block main %}
<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="{% url 'dashboard' %}">Home</a>
				</li>

				<li>
					资产管理
				</li>
				<li>
					<a href="{% url 'hostmonitor' %}">主机列表</a>
				</li>
				<li>{{detailhost.private_ip}}</li>
				
			</ul><!-- /.breadcrumb -->

		</div>

		<div class="page-content">
			
			<div class="row">
				<div class="col-xs-12">
					
					<div class="tabbable">
						<ul class="nav nav-tabs" id="myTab4">
							<li class="active">
								<a data-toggle="tab" href="#monitor">监控视图</a>
							</li>
							
							<li>
								<a data-toggle="tab" href="#agent">代理信息</a>
							</li>
						</ul>

						<div class="tab-content">
							
							<div id="monitor" class="tab-pane in active">
								{% hostMonitorView %}
							</div>
																					
							<div id="agent" class="tab-pane">
								{% if detailhost.agent_is_install %}
								<div class="profile-user-info profile-user-info-striped">
									
									<div class="profile-info-row">
										<div class="profile-info-name">部署目录</div>
										<div class="profile-info-value">
											<span>{{detailhost.hostname}}</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name">代理端口</div>
										<div class="profile-info-value">
											<span>7000</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name">代理状态</div>
										<div class="profile-info-value">
											<span></span>
										</div>
									</div>					
								</div>
								{% else %}
								
								<div class="row">
									<div class="col-xs-12">
										<div class="center">代理未安装,请按照如下步骤安装代理:</div>
										<h4 class="header smaller lighter blue">手动安装</h4>
										<div class="col-xs-12">
											<div class="content-title">
												<div class="col-xs-12 col-sm-2 number">1</div>
												<div class="col-xs-12 col-sm-10"><span style="line-height: 28px;font-size: 19px;">下载 Agent 安装包</span></div>
											</div>
											<div style="margin-left:20px;">
												<p></p>
												<p><a href="#">点击下载</a></p>
												<p>备注：下载后上传到目标主机</p>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="content-title">
												<div class="col-xs-12 col-sm-2 number">2</div>
												<div class="col-xs-12 col-sm-10">配置 Agent</div>
											</div>
											<div style="margin-left:20px;">
												<p></p>
												<pre>./agent -master=192.168.10.3:9000</pre>
												<p>注意：-master即指明master主机</p>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="content-title">
												<div class="col-xs-12 col-sm-2 number">3</div>
												<div class="col-xs-12 col-sm-10">运行 Agent</div>
											</div>
											<div style="margin-left:20px;">
												<p></p>
												<pre>./agent -master=192.168.10.3:9000</pre>
												<p>注意：-master即指明master主机</p>
											</div>
										</div>
										<h4 class="header smaller lighter blue">自动安装</h4>
										<div class="center">
											<button class="btn btn-info">一键自动安装 Agent</button>
										</div>
									</div>
								</div>
								
								
								{% endif %}
							</div>
							
						</div>
					</div>
				  
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->
{% endblock %}
{% block js %}
<script src="/static/assets/js/jquery.easypiechart.min.js"></script>
<script src="/static/js/echarts.min.js"></script>
<script type="text/javascript">
function draw_percent(){
		$('.easy-pie-chart.percentage').each(function(){
			$(this).easyPieChart({
				barColor: $(this).data('color'),
				trackColor: '#DDDDDD',
				scaleColor: false,
				lineCap: 'butt',
				lineWidth: 20,
				animate: ace.vars['old_ie'] ? false : 1000,
				size:($('.easy-pie-chart').parent().width())*65/100
			});
		});

	};
	
function setdiskIO (id,title,height,series) {
	$('#'+id).css({'width': '100%' , 'height': height});
    this.chart = echarts.init(document.getElementById(id))
    this.chart.setOption({
    title: {
        text: title,
		x: 'center',
		textStyle: {
              fontWeight: 'normal',
              fontSize: 16,
        }
    },
    tooltip : {
        trigger: 'axis',
        axisPointer: {
            type: 'cross',
            label: {
                backgroundColor: '#6a7985'
            }
        }
    },
   
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            data : ['09:00','09:30','10:00','10:30','11:00','11:30','12:00']
        }
    ],
    yAxis : [
        {
            type : 'value',
        }
    ],
    series : series
    });
	return this.chart;
};
$(document).ready(function(){
	var hei = (document.documentElement.clientHeight*28/100);
	console.log(hei);
	var cpu_series =[
        
        {
            name:'usage_iowait',
            type:'line',
            stack: '总量',
            areaStyle: {normal: {}},
			itemStyle:{
				normal:{
					color:'#FFFF00'
				}
			},
            data:[1, 2, 1, 3, 1, 2, 4]
        },
        {
            name:'usage_user',
            type:'line',
            stack: '总量',
            areaStyle: {normal: {
				color:'yellow',
				},},
			itemStyle:{
				normal:{
					color:'#00BFFF'
				}
			},
            data:[3, 4, 5, 3, 5, 6, 1],
        },
        {
            name:'usage_system',
            type:'line',
            stack: '总量',
            areaStyle: {normal: {}},
			itemStyle:{
				normal:{
					color:'#DAA520'
				}
			},
            data:[5, 4, 2, 1, 3, 2, 1]
        },
		{
            name:'usage_idle',
            type:'line',
            stack: '总量',
            areaStyle: {normal: {
				color: '#90EE90'
			}},
			itemStyle:{
				normal:{
					color:'#90EE90'
				}
			},
            data:[91, 90, 92, 93, 91, 90, 94]
        }
    ];
	var memory_series =[
        
        {
            name:'usage_iowait',
            type:'line',
            stack: '总量',
            areaStyle: {normal: {}},
			itemStyle:{
				normal:{
					color:'#FFFF00'
				}
			},
            data:[1, 2, 1, 3, 1, 2, 4]
        },
        {
            name:'usage_user',
            type:'line',
            stack: '总量',
            areaStyle: {normal: {
				color:'yellow',
				},},
			itemStyle:{
				normal:{
					color:'#00BFFF'
				}
			},
            data:[3, 4, 5, 3, 5, 6, 1],
        },
        
		
    ];
	
	
	var diskI_hei_t = $("#diskId").css('height');
	var diskU_hei_t = $("#diskUd").css('height');
	
	var diskI_hei = hei-(diskI_hei_t.substring(0,diskI_hei_t.length-2)) +113;
	var diskU_hei = hei-(diskU_hei_t.substring(0,diskU_hei_t.length-2)) +113;
	
	console.log(hei);
	console.log(diskI_hei);

	cpuObj = setdiskIO('cpu','CPU使用率',hei,cpu_series);
	memoryObj = setdiskIO('memory','内存使用率',hei,memory_series);
	diskIObj = setdiskIO('diskI','磁盘 IO',diskI_hei,memory_series);
	diskUObj = setdiskIO('diskU','磁盘使用率',diskU_hei,memory_series);
	networkObj = setdiskIO('network','Network',hei);
	netstatObj = setdiskIO('netstat','Netstat',hei);
	processesObj = setdiskIO('processes','进程数',hei);
	threadsObj = setdiskIO('threads','线程数',hei);
	loadObj = setdiskIO('load','5分钟负载',hei);
	draw_percent();
	
	
});
$(window).resize(function() {
	/* var width = $(".widget-main").width();
	draw_resource('piechart-placeholder',width,'180px','60'); */
	cpuObj.resize();
	memoryObj.resize();
	diskIObj.resize();
	diskUObj.resize();
	networkObj.resize();
	netstatObj.resize();
	processesObj.resize();
	threadsObj.resize();
	loadObj.resize();
});
  
</script>
{% endblock %}

