{% extends "base/base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/assets/css/select2.min.css" />
<link rel="stylesheet" href="/static/xcConfirm/css/xcConfirm.css" />
{% endblock %}

{% block main %}
<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="{% url 'dashboard' %}">Home</a>
				</li>

				<li>PAAS中心</li>
				<li><a href="{% url 'MesosClusterList' %}">mesos</a></li>
				<li>添加节点</li>
			</ul><!-- /.breadcrumb -->
		</div>

		<div class="page-content">

			<div class="row">
				<div class="col-xs-12">

					<div class="widget-box">
					
						<div class="widget-body">
							<div class="widget-main">
								<div id="fuelux-wizard-container">
									<div class="row">
										<div class="col-sm-3"></div>
										<div class="col-xs-12 col-sm-3">
											<span>所属集群</span>
											<select name="clusterID" onchange="selectCluster();">
												<option value="{{ cluster.id}}">{{  cluster.clusterName }}</option>
											</select>
										</div>
										
										<div class="col-xs-12 col-sm-3">
											<span>选择类型</span>
											<select name="nodeType" onchange="selectNodeType();">
												<option value="haproxy">Haproxy</option>
												<option value="marathon">Marathon</option>
												<option value="slave">Mesos Slave</option>
											</select>
										</div>
										
									</div>

									<hr />

									<div class="step-content pos-rel">
										<!-- Haproxy -->
										<div class="step-pane active" id="haproxy">
											<form class="form-horizontal">
												<div class="form-group">
													<label class="col-xs-12 col-sm-3 control-label no-padding-right">Haproxy ID</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="haproxyID" class="width-100" />
														</span>
													</div>
													<span class="red">*</span>
												</div>

												<div class="form-group">
													<label  class="col-xs-12 col-sm-3  control-label no-padding-right">服务端口</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="servicePort" class="width-100" value="80" />
														</span>
													</div>
													<span class="red">*</span>
												</div>
												
												<div class="form-group">
													<label  class="col-xs-12 col-sm-3  control-label no-padding-right">状态端口</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="statusPort" class="width-100" value="9000" />
														</span>
													</div>
													<span class="red">*</span>
												</div>
												
												<div class="form-group">
													<label  class="col-xs-12 col-sm-3  control-label no-padding-right">Bamboo 端口</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="bambooPort" class="width-100" value="8000" />
														</span>
													</div>
													<span class="red">*</span>
												</div>
												
												<div class="form-group">
													<label  class="col-xs-12 col-sm-3  control-label no-padding-right">Marathon地址</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<select class="form-control" name="haproxyMarathon" id="haproxyMarathon">
																<option>{{ cluster.haproxyMarathon }}</option>
															</select>
														</span>
													</div>
													<span class="red">*</span>
												</div>
												
												<div class="form-group">
													<label  class="col-xs-12 col-sm-3  control-label no-padding-right">Haproxy镜像</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="haproxyImage" class="width-100" />
														</span>
													</div>
													<span class="red">*</span>
												</div>

												<div class="form-group">
													<label for="inputInfo" class="col-xs-12 col-sm-3 control-label no-padding-right">部署主机</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<select multiple="" name="haproxyDeploy" class="select2 width-400" data-placeholder="选择部署主机...">
																{% for host in hosts %}
																<option value="{{host.host.private_ip}}">{{host.host.private_ip}}</option>
																{% endfor %}
															</select>
														</span>
													</div>
													<span class="red">*</span>
												</div>
												<div class="center">
													<strong class="red">备注:</strong><i class="blue">Bamboo集群使用zookeeper选举, node name 就是Haproxy ID。</i>	
												</div>
											</form>
										</div>
										
										<!-- marathon -->
										<div class="step-pane " id="marathon">
											<form class="form-horizontal">
												<div class="form-group">
													<label for="inputWarning" class="col-xs-12 col-sm-3 control-label no-padding-right">Marathon ID</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="marathonID" class="width-100" />
														</span>
													</div>
													<span class="red">*</span>
												</div>

												<div class="form-group">
													<label class="col-xs-12 col-sm-3  control-label no-padding-right">端口</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="marathonPort" class="width-100" value="8080" />
														</span>
													</div>
													<span class="red">*</span>
												</div>
												
												<div class="form-group">
													<label  class="col-xs-12 col-sm-3  control-label no-padding-right">Master ZK</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<select class="form-control" name="marathonZK" id="marathonZK">
																<option>{{cluster.marathonZK}}</option>
															</select>
														</span>
													</div>
													<span class="red">*</span>
												</div>
												
												<div class="form-group">
													<label  class="col-xs-12 col-sm-3  control-label no-padding-right">Marathon镜像</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="marathonImage" class="width-100" />
														</span>
													</div>
													<span class="red">*</span>
												</div>

												<div class="form-group">
													<label for="inputInfo" class="col-xs-12 col-sm-3 control-label no-padding-right">部署主机</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<select multiple="" name="marathonDeploy" class="select2 width-400" data-placeholder="选择部署主机...">
																{% for host in hosts %}
																<option value="{{host.host.private_ip}}">{{host.host.private_ip}}</option>
																{% endfor %}
															</select>
														</span>
													</div>
													<span class="red">*</span>
												</div>
												<div class="center">
													<strong class="red">备注:</strong><i class="blue">Marathon集群使用zookeeper选举, node name就是Marathon ID。</i>	
												</div>
											</form>
										</div>
										
										<!-- Mesos Slave -->
										<div class="step-pane" id="slave">
											<form class="form-horizontal">
												<div class="form-group">
													<label for="inputWarning" class="col-xs-12 col-sm-3 control-label no-padding-right">标签</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="slaveLabel" class="width-100" placeholder="mesos:slave" />
														</span>
													</div>
													<span class="red">*</span>
												</div>

												<div class="form-group">
													<label  class="col-xs-12 col-sm-3  control-label no-padding-right">端口</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="slavePort" class="width-100" value="5051" />
														</span>
													</div>
													<span class="red">*</span>
												</div>
												
												<div class="form-group">
													<label  class="col-xs-12 col-sm-3  control-label no-padding-right">Master ZK</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<select class="form-control" name="slaveZK" id="slaveZK">
																<option>{{cluster.slaveZK}}</option>
															</select>
														</span>
													</div>
													<span class="red">*</span>
												</div>
												
												<div class="form-group">
													<label  class="col-xs-12 col-sm-3  control-label no-padding-right">Slave镜像</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<input type="text" name="slaveImage" class="width-100" />
														</span>
													</div>
													<span class="red">*</span>
												</div>

												<div class="form-group">
													<label for="inputInfo" class="col-xs-12 col-sm-3 control-label no-padding-right">部署主机</label>
													<div class="col-xs-12 col-sm-6">
														<span class="block input-icon input-icon-right">
															<select multiple=""  name="slaveDeploy" class="select2 width-400" data-placeholder="选择部署主机...">
																{% for host in hosts %}
																<option value="{{host.host.private_ip}}">{{host.host.private_ip}}</option>
																{% endfor %}
															</select>
														</span>
													</div>
													<span class="red">*</span>
												</div>
												<div class="center">
													<strong class="red">备注:</strong><i class="blue">目前前端，后端数据库考虑得不周全，如：不同marathon,haproxy,slave集群区分显示，slave应该可以单点删除,后端代码重用性不好，需要重写,数据库要重新设计</i>	
												</div>
											</form>
										</div>
									</div>
								</div>

								<hr />
								<div class="wizard-actions">
									<button class="btn btn-success" onclick="saveNode();">
										添加
										<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
									</button>
								</div>
							</div><!-- /.widget-main -->
						</div><!-- /.widget-body -->
					</div>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->
{% endblock %}

{% block js %}
<script src="/static/assets/js/select2.min.js"></script>
<script src="/static/assets/js/bootstrap-multiselect.min.js"></script>
<script src="/static/assets/js/select2.min.js"></script>
<script src="/static/assets/js/jquery-typeahead.js"></script>
<script src="/static/xcConfirm/js/xcConfirm.js"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
selectNodeType();

function selectCluster(){
	var clusterID = $("select[name='clusterID']").val();
	$.ajax({
		type: 'POST',
		url : '/mesos/add/node/zkurl/',
		data: {"clusterID":clusterID},
		success: function(data){
			// haproxyMarathon  url
			$("#haproxyMarathon").html('<option>'+data['haproxyMarathon']+'</option>');
			// marathonZK
			$("#marathonZK").html('<option>'+data['marathonZK']+'</option>');
			// slaveZK
			$("#slaveZK").html('<option>'+data['slaveZK']+'</option>');
		}
	})
}

function selectNodeType(){
	var node_type = $("select[name='nodeType']").val();
	if(node_type == 'haproxy'){
		$("#haproxy").addClass("active");
		$("#marathon").removeClass("active");
		$("#slave").removeClass("active");
	}else if(node_type == 'marathon'){
		$("#marathon").addClass("active");
		$("#haproxy").removeClass("active");
		$("#slave").removeClass("active");
	}else{
		$("#slave").addClass("active");
		$("#haproxy").removeClass("active");
		$("#marathon").removeClass("active");
	}
}

function saveNode(){
	var node_type = $("select[name='nodeType']").val();
	var clusterID = $("select[name='clusterID']").val();
	if(node_type == 'haproxy'){
		var res = checkHaproxyInfo();
	}else if(node_type == 'marathon'){
		var res = checkMarathonInfo();
	}else{
		var res = checkSlaveInfo();
	}
	if(res){
		$.ajax({
			type: 'POST',
			url : '/mesos/add/node/',
			data: $("#"+node_type).find('form').serialize()+'&nodeType='+node_type+'&clusterName='+clusterID,
			success: function(data){
				if(data['code']==200){
					var txt=  "添加 "+node_type+"成功!";
					window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.success);
				}else{
					var txt = ''
					for(var key in data['msg']){
						txt = txt + '<strong class="red">'+key+'</strong><span> '+data['msg'][key].toString()+'</span><br />';
					}
					window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.error);
				}
			}
		})
	}
}

//检查marathon info
function checkMarathonInfo(){
	var marathonID = $("input[name='marathonID']").val();
	var marathonPort = $("input[name='marathonPort']").val();
	var marathonImage = $("input[name='marathonImage']").val();
	var marathonDeploy = $("select[name='marathonDeploy']").val();
	if(marathonID.trim().length==0){
		var txt=  "请填写marathon ID!";
		window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
		return false;
	};
	if(marathonPort.trim().length==0){
		var txt=  "请填写marathon 端口!";
		window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
		return false;
	};
	if(marathonImage.trim().length==0){
		var txt=  "请填写marathon 镜像!<br />格式:192.168.10.3:5000/mesos-master:1.6.1-rc2";
		window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
		return false;
	};
	if(marathonDeploy==null){
		var txt=  "请选择部署marathon 的主机!";
		window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
		return false;
	};
	genmarathonUrl(marathonDeploy,marathonPort);
	return true;
}

//检查haproxy info
function checkHaproxyInfo(){
	var haproxyID = $("input[name='haproxyID']").val();
	var servicePort = $("input[name='servicePort']").val();
	var statusPort = $("input[name='statusPort']").val();
	var bambooPort = $("input[name='bambooPort']").val();
	var haproxyImage = $("input[name='haproxyImage']").val();
	var haproxyDeploy = $("select[name='haproxyDeploy']").val();
	if(haproxyID.trim().length==0){
		var txt=  "请填写haproxy ID!";
		window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
		return false;
	};
	if(servicePort.trim().length==0){
		var txt=  "请填写haproxy 服务端口!";
		window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
		return false;
	};
	if(statusPort.trim().length==0){
		var txt = "请填写haproxy 状态端口!";
		window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
		return false;
	};
	if(bambooPort.trim().length==0){
		var txt = "请填写bamboo 端口!";
		window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
		return false;
	};
	if(haproxyImage.trim().length==0){
		var txt=  "请填写haproxy 镜像!<br />格式:192.168.10.3:5000/mesos-master:1.6.1-rc2";
		window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
		return false;
	};
	if(haproxyDeploy==null){
		var txt = "请选择部署haproxy 的主机!";
		window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
		return false;
	};
	return true;
}

//检查 slave info
function checkSlaveInfo(){
	var slaveLabel = $("input[name='slaveLabel']").val();
	var slavePort = $("input[name='slavePort']").val();
	var slaveImage = $("input[name='slaveImage']").val();
	var slaveDeploy = $("select[name='slaveDeploy']").val();
	if(slaveLabel.trim().length==0){
		var txt = "请填写slave 标签!<br />格式:slave:pool1<br />标签用来划分资源池";
		window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
		return false;
	};
	if(slavePort.trim().length==0){
		var txt = "请填写slave 端口!";
		window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
		return false;
	};
	if(slaveImage.trim().length==0){
		var txt = "请填写slave 镜像!<br />格式:192.168.10.3:5000/mesos-master:1.6.1-rc2";
		window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
		return false;
	};
	if(slaveDeploy==null){
		var txt = "请选择部署slave 的主机!";
		window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);
		return false;
	};
	return true;
}

jQuery(function($) {
	//select2
	$('.select2').css('width','100%').select2({allowClear:false})
	$('#select2-multiple-style .btn').on('click', function(e){
		var target = $(this).find('input[type=radio]');
		var which = parseInt(target.val());
		if(which == 2) $('.select2').addClass('tag-input-style');
		 else $('.select2').removeClass('tag-input-style');
	});
	
	//////////////////
	$('.multiselect').multiselect({
	 enableFiltering: true,
	 enableHTML: true,
	 buttonClass: 'btn btn-white btn-primary',
	 templates: {
		button: '<button type="button" class="multiselect dropdown-toggle" data-toggle="dropdown"><span class="multiselect-selected-text"></span> &nbsp;<b class="fa fa-caret-down"></b></button>',
		ul: '<ul class="multiselect-container dropdown-menu"></ul>',
		filter: '<li class="multiselect-item filter"><div class="input-group"><span class="input-group-addon"><i class="fa fa-search"></i></span><input class="form-control multiselect-search" type="text"></div></li>',
		filterClearBtn: '<span class="input-group-btn"><button class="btn btn-default btn-white btn-grey multiselect-clear-filter" type="button"><i class="fa fa-times-circle red2"></i></button></span>',
		li: '<li><a tabindex="0"><label></label></a></li>',
		divider: '<li class="multiselect-item divider"></li>',
		liGroup: '<li class="multiselect-item multiselect-group"><label></label></li>'
	 }
	});
})
</script>
{% endblock %}