{% extends "base/base.html" %}
{% load mesos %}
{% block css %}
<style>
.acc-label{
	color:#8B959C;
}
.banner{
  width:100%;
  padding: 10px;
  font-size: 14px;
  background: #f7fafc;
  border: 1px solid #8bd1d6;
  color: #34495E;
  margin:10px 1px 20px 1px;
}
.banner>.vertical-middle {
  width:22%;
  text-align: center;
  border-right: solid 2px #78C9CF;
  vertical-align: middle;
  display: inline-block;
}

.status-banner{
  margin-top:30px;
  width: 100%;
  padding: 0px;
}
.status-banner div{
  float: left;
}
.status-banner-icon{
  width: 20%;
  height: 37px;
  color: #196c3c;
  text-align: center;
  padding-top:7px;
}
.status-banner-message{
  width: 80%;
  background: #eefbf4;
  border-left: none;
  padding:5px 10px 0px;
}

.unknown-i{
	background: #DDD;
}

.unknown-m{
  border: 1px solid #DDD;
}

.health-i{
  background: #9be8bc;
}

.health-m{
  border: 1px solid #9be8bc;
}

.warning-i{
  background: #FFBB00;
}

.warning-m{
  border: 1px solid #FFBB00;
}

.danger-i{
  background: #FF7744 ;
  
}

.danger-m{
  border: 1px solid #FF7744 ;
}

.nav-background{
	background: #9be8bc;
	text-align: center;
	padding: 8px;
}

#disabled{
	cursor:not-allowed;
}

</style>
{% endblock %}

{% block main %}
<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="{% url 'dashboard' %}">Home</a>
				</li>

				<li>PAAS中心</li>
				<li><a href="{% url 'MesosClusterList' %}">mesos</a></li>
				<li>{{ clsname }}</li>
				
			</ul><!-- /.breadcrumb -->

		</div>

		<div class="page-content">

			<div class="row">
				<div class="col-xs-12">
					
					<div class='banner row'>
						<div class='vertical-middle'>
						  <label class='acc-label'>供应商</label> {{clsObj.vendor}}
						</div>
						<div class='vertical-middle'>
						  <label class='acc-label'>版本</label> {{clsObj.version}}
						</div>
						<div class='vertical-middle'>
						  <label class='acc-label'>Leader</label> {{clsObj.leader}}
						</div>
						<div class='vertical-middle'>
						  <label class='acc-label'>容器数</label> 0
						</div>
						<a href="{% url 'MesosAddNode' %}?name={{clsObj.clusterName}}" style="margin-left:25px;"><i class="fa fa-plus">添加节点</i></a>
						<!--
						{% ifequal clsObj.master_status 1 %}
						<a href="{% url 'MesosAddNode' name=clsObj.clusterName %}" style="margin-left:25px;"><i class="fa fa-plus">添加节点</i></a>
						{% else %}
						<span style="margin-left:25px;" id="disabled"><i class="fa fa-plus">添加节点</i></span>
						{% endifequal %} -->
					</div>

					<div class="row">
						<div class="col-xs-12 col-sm-4 center">
							<div class="easy-pie-chart percentage" data-percent="{{clsObj.cpu_use}}" data-color="#3497da">
								<span class="percent">
									<span>CPU </span>
									<span style="font-size:50px;">{{clsObj.cpu_use}}</span>%
								</span>
							</div>
						</div><!-- /.col -->
						
						<div class="col-xs-12 col-sm-4 center">
							<div class="easy-pie-chart percentage" data-percent="{{clsObj.memory_use}}" data-color="#3497da">
								<span>Memory </span>
								<span style="font-size:50px;">{{clsObj.memory_use}}</span>%
							</div>
						</div><!-- /.col -->
						
						<div class="col-xs-12 col-sm-4 center">
							<div class="easy-pie-chart percentage" data-percent="{{clsObj.disk_use}}" data-color="#3497da">
								<span>Disk </span>
								<span style="font-size:50px;">{{clsObj.disk_use}}</span>%
							</div>
						</div><!-- /.col -->
						
					</div><!-- /.row -->

					<div class="status-banner row">
						<div class="col-xs-12 col-sm-3">
						  {% return_overview_div clsObj.master_status 'Mesos-master' %}
						</div>
						
						<div class="col-xs-12 col-sm-3">
						  {% return_overview_div clsObj.zookeeper_status 'Zookeeper' %}
						</div>
						
						<div class="col-xs-12 col-sm-3">
						  {% return_overview_div clsObj.marathon_status 'Marathon' %}
						</div>
						
						<div class="col-xs-12 col-sm-3">
						  {% return_overview_div clsObj.slave_status 'Mesos-slave' %}
						</div>
					</div>
					
					<div class="status-banner row">
						<div class="col-xs-12 col-sm-6">
						  {% return_overview_div clsObj.haproxy_status 'Haproxy' %}
						</div>
						<div class="col-xs-12 col-sm-6">
						  {% return_overview_div clsObj.bamboo_status 'Bamboo' %}
						</div>
					</div>
				  
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->
{% endblock %}

{% block js %}
<script src="/static/assets/js/jquery.easypiechart.min.js"></script>
<script type="text/javascript">
	function draw_percent(){
		$('.easy-pie-chart.percentage').each(function(){
			$(this).easyPieChart({
				barColor: $(this).data('color'),
				trackColor: '#DDDDDD',
				scaleColor: false,
				lineCap: 'butt',
				lineWidth: 20,
				animate: ace.vars['old_ie'] ? false : 1000,
				size:($('.easy-pie-chart').parent().width())*85/100
			});
		});

	};
	$(document).ready(function(){
		draw_percent();
	});

	$(window).resize(function(){
		//$('.easy-pie-chart.percentage').data('easyPieChart').update(90);
		
	});
</script>
{% endblock %}
