<div class="row">
	<div class="col-xs-12">
		<p style="font-size:20px;margin-bottom:20px;">主机运行情况</p>
	</div>
	
	<div class="col-xs-12 col-sm-3 center">
		<div class="easy-pie-chart percentage" data-percent="30" data-color="#3497da">
			<span class="percent">
				<span>CPU </span>
				<span style="font-size:50px;">30</span>%
			</span>
		</div>
	</div><!-- /.col -->
	
	<div class="col-xs-12 col-sm-3 center">
		<div class="easy-pie-chart percentage" data-percent="36" data-color="#3497da">
			<span>内存 </span>
			<span style="font-size:50px;">36</span>%
		</div>
	</div><!-- /.col -->
	
	<div class="col-xs-12 col-sm-3 center">
		<div class="easy-pie-chart percentage" data-percent="70" data-color="#3497da">
			<span>存储 </span>
			<span style="font-size:50px;">70</span>%
		</div>
	</div><!-- /.col -->
	
	<div class="col-xs-12 col-sm-3 center">
		<div class="easy-pie-chart percentage" data-percent="100" data-color="#3497da">
			<p><span>运行</span><strong style="font-size:45px;">213</strong>天</p>
		</div>
	</div><!-- /.col -->
	
	<div class="col-xs-12">
		<p style="font-size:20px;margin:20px 0px;">主机运行指标</p>
	</div>
	
	<div class="col-xs-12">
		<ul class="pagination">
			<li class="active">
				<a href="#">近1小时</a>
			</li>
			<li>
				<a href="#">近24小时</a>
			</li>
			<li>
				<a href="#">近7天</a>
			</li>
			<li>
				<a href="#">近1个月</a>
			</li>
		</ul>
	</div>
		
	<div class="col-xs-12">
		<div class="space-6"></div>
		<div class="hostoverview">
			<div id="load">5分钟负载</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="space-6"></div>
		<div class="hostoverview">
			<div id="cpu">CPU</div>
			<div style="padding-left:25px;">
				<table class="table">
					<tbody>
						<tr>
							<th></th><th></th><th>min</th>
							<th>max</th><th>avg</th><th>current</th>
						</tr>
						<tr>
							<td style="color:#90EE90;"><i class="fa fa-minus" aria-hidden="true"></i></td><td>usage_idle</td><td>91</td>
							<td>95</td><td>93</td><td>92</td>
						</tr>
						<tr>
							<td style="color:#00BFFF;"><i class="fa fa-minus" aria-hidden="true"></i></td><td>usage_user</td><td>1</td>
							<td>6</td><td>4</td><td>4</td>
						</tr>
						<tr>
							<td style="color:#DAA520;"><i class="fa fa-minus" aria-hidden="true"></i></td><td>usage_system</td><td>2</td>
							<td>5</td><td>3</td><td>2</td>
						</tr>
						<tr>
							<td style="color:#FFFF00;"><i class="fa fa-minus" aria-hidden="true"></i></td><td>usage_iowait</td><td>0</td>
							<td>3</td><td>2</td><td>2</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="space-6"></div>
		<div class="hostoverview">
			<div id="memory">memory</div>
			<div style="padding-left:25px;">
				<table class="table">
					<tbody>
						<tr>
							<th></th><th></th><th>min</th>
							<th>max</th><th>avg</th><th>current</th>
						</tr>
						<tr>
							<td><i class="fa fa-minus" aria-hidden="true"></i></td><td>available</td><td>N/A</td>
							<td>N/A</td><td>N/A</td><td>N/A</td>
						</tr>
						<tr>
							<td><i class="fa fa-minus" aria-hidden="true"></i></td><td>used</td><td>N/A</td>
							<td>N/A</td><td>N/A</td><td>N/A</td>
						</tr>
						<tr>
							<td><i class="fa fa-minus" aria-hidden="true"></i></td><td>swap_available</td><td>N/A</td>
							<td>N/A</td><td>N/A</td><td>N/A</td>
						</tr>
						<tr>
							<td><i class="fa fa-minus" aria-hidden="true"></i></td><td>swap_used</td><td>N/A</td>
							<td>N/A</td><td>N/A</td><td>N/A</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="col-xs-12 col-sm-6">
		<div class="space-6"></div>
		<div class="hostoverview">
			<div id="diskI">diskI</div>
			<div id="diskId" style="padding-left:25px;">
				<table class="table">
					<tbody>
						<tr>
							<th></th><th></th><th>min</th>
							<th>max</th><th>avg</th><th>current</th>
						</tr>
						<tr>
							<td style="color:#90EE90;"><i class="fa fa-minus" aria-hidden="true"></i></td><td>usage_idle</td><td>91</td>
							<td>95</td><td>93</td><td>92</td>
						</tr>
						<tr>
							<td style="color:#00BFFF;"><i class="fa fa-minus" aria-hidden="true"></i></td><td>usage_user</td><td>1</td>
							<td>6</td><td>4</td><td>4</td>
						</tr>
						<tr>
							<td style="color:#DAA520;"><i class="fa fa-minus" aria-hidden="true"></i></td><td>usage_system</td><td>2</td>
							<td>5</td><td>3</td><td>2</td>
						</tr>
						<tr>
							<td style="color:#FFFF00;"><i class="fa fa-minus" aria-hidden="true"></i></td><td>usage_iowait</td><td>0</td>
							<td>3</td><td>2</td><td>2</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="col-xs-12 col-sm-6">
		<div class="space-6"></div>
		<div class="hostoverview">
			<div id="diskU">diskU</div>
			<div id="diskUd" style="padding-left:25px;">
				<table class="table">
					<tbody>
						<tr>
							<th></th><th></th><th>min</th>
							<th>max</th><th>avg</th><th>current</th>
						</tr>
						<tr>
							<td style="color:#90EE90;"><i class="fa fa-minus" aria-hidden="true"></i></td><td>usage_idle</td><td>91</td>
							<td>95</td><td>93</td><td>92</td>
						</tr>
						<tr>
							<td style="color:#00BFFF;"><i class="fa fa-minus" aria-hidden="true"></i></td><td>usage_user</td><td>1</td>
							<td>6</td><td>4</td><td>4</td>
						</tr>
						<tr>
							<td style="color:#DAA520;"><i class="fa fa-minus" aria-hidden="true"></i></td><td>usage_system</td><td>2</td>
							<td>5</td><td>3</td><td>2</td>
						</tr>
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="col-xs-12 col-sm-6">
		<div class="space-6"></div>
		<div class="hostoverview">
			<div id="network">network</div>
		</div>
	</div>
	
	<div class="col-xs-12 col-sm-6">
		<div class="space-6"></div>
		<div class="hostoverview">
			<div id="netstat">netstat</div>
		</div>
	</div>
	
	<div class="col-xs-12 col-sm-6">
		<div class="space-6"></div>
		<div class="hostoverview">
			<div id="processes">processes</div>
		</div>
	</div>
	
	<div class="col-xs-12 col-sm-6">
		<div class="space-6"></div>
		<div class="hostoverview">
			<div id="threads">threads</div>
		</div>
	</div>
	
</div><!-- /.row -->
