{% extends "base/base.html" %}
{% load asset %}
{% block css %}
<link rel="stylesheet" href="/static/css/asset/asset.css" />
{% endblock %}
{% block main %}
<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="{% url 'dashboard' %}">Home</a>
				</li>

				<li>
					资产管理
				</li>
				<li>
					<a href="{% url 'HostList' %}">主机列表</a>
				</li>
				<li id="private_ip">{{detailhost.private_ip}}</li>
				
			</ul><!-- /.breadcrumb -->

		</div>

		<div class="page-content">
			
			<div class="row">
				<div class="col-xs-12">
					
					<div class="tabbable">
						<ul class="nav nav-tabs" id="myTab4">
							<li class="active">
								<a data-toggle="tab" href="#monitor">监控视图</a>
							</li>
							<li >
								<a data-toggle="tab" href="#manager">主机信息</a>
							</li>
							<li >
								<a data-toggle="tab" href="#pids">进程情况</a>
							</li>
							<li >
								<a data-toggle="tab" href="#users">在线用户</a>
							</li>
							<li>
								<a data-toggle="tab" href="#agent">代理信息</a>
							</li>
							<li>
								<a data-toggle="tab" href="#event">历史事件</a>
							</li>
						</ul>

						<div class="tab-content">
							
							<div id="monitor" class="tab-pane in active">
								{% hostMonitorView %}
							</div>
							
							<div id="manager" class="tab-pane">
								{% hostInfoView detailhost DiskQuerySet EthQuerySet %}
							</div>

							<div id="pids" class="tab-pane">
								pids
							</div>

							<div id="users" class="tab-pane">
								<table class="table">
									<tr>
										<th>用户</th><th>终端</th><th>主机</th><th>登录时间</th><th>进程ID</th>
									</tr>
									<tr>
										<td>root</td><td>pts/0</td><td>172.16.149.1</td><td>1557503488.0</td><td>2309</td>
									</tr>
								</table>
							</div>
														
							<div id="agent" class="tab-pane">
								{% AgentInfoView detailhost.agent_is_install detailhost.agent_status %}
							</div>
							
							<div id="event" class="tab-pane">
								<table class="table">
									<thead>
										<tr>
											<th>结果</th>
											<th>状态</th>
											<th>类型</th>
											<th>时间</th>
											<th>详细信息</th>
										</tr>
									</thead>
									<tbody>
										
										{% for event in EventQuerySet %}
										<tr>
											{% if event.is_succeeded %}
											<td>成功</td>
											<td><i class="fa fa-check-circle health" aria-hidden="true"></i></td>
											{% else %}
											<td>失败</td>
											<td><span class="glyphicon glyphicon-remove-sign unhealth"></span></td>
											{% endif %}
											<td>{{event.get_action_display}}</td>
											<td>{{event.time|date:"Y-m-d H:i:s"}}</td>
											<td>{{event.content|default:'-------'}}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>

						</div>
					</div>
				  
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->
{% endblock %}
{% block js %}
<script src="/static/assets/js/jquery.easypiechart.min.js"></script>
<script src="/static/js/echarts.min.js"></script>
<script src="/static/js/asset/graph.js"></script>
{% endblock %}

