{% extends "base/base.html" %}
{% load asset %}
{% block css %}
<style>
.header {
    margin-top:0px;
}

.hostoverview{
	border: 1px solid  	#D3D3D3;
	padding-top: 5px;
}

.mounts .profile-info-name,.ethernet .profile-info-name{
	width:100%;
}

.table > tbody > tr > td{
	padding:2px;
	border-top: none;
}

.table > tbody > tr > th{
	padding:2px;
	border-top: none;
}

.pagination{
	margin: 0px;
}

.content-title {
    height: 28px;
    line-height: 28px;
    font-size: 19px;
}
.number {
    color: #666;
    border: 2px solid #666;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 32px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -2px;
}
</style>
{% endblock %}
{% block main %}
<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="{% url 'dashboard' %}">Home</a>
				</li>

				<li>
					资产管理
				</li>
				<li>
					<a href="{% url 'HostList' %}">主机列表</a>
				</li>
				<li>{{detailhost.private_ip}}</li>
				
			</ul><!-- /.breadcrumb -->

		</div>

		<div class="page-content">
			
			<div class="row">
				<div class="col-xs-12">
					
					<div class="tabbable">
						<div id="manager" class="tab-pane">
							{% hostInfoView detailhost DiskQuerySet EthQuerySet %}
						</div>
					</div>
				  
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->
{% endblock %}
{% block js %}
<script type="text/javascript">
  
</script>
{% endblock %}

